<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>commonUI/res/cs/MainUI/baibao.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,403},{70,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,98}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/Cards_main.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,618},{74,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,105}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/chuzheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,403},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/fuli.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,1},{88,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,77}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/gongh.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,445},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/hec.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,736},{81,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,99}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/main_mission.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,230},{77,93}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,129}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/main_qix.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,194},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/main_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,132},{76,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,100}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/main_tiant.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,236},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/main_youx.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,278},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/main_zhaom.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,320},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/main_zhucheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,80},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/shoucdalib.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,736},{95,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,81}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/qiandao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,132},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/qianghua.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,96},{74,96}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,99}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/shilian.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,122},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/VIP.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,325},{89,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,76}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/xianssj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,837},{92,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,84}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/xuezhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,1},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/zhen.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,1},{78,93}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,95}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/zhuangb.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,618},{79,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,100}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/main_mission_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{127,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,129}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/chengjiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,230},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/libao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,328},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/lingjiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,426},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/p3.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,487},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/cafe.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,524},{86,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,104}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/cafe_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,630},{86,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,104}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/gvgTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,529},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>commonUI/res/cs/MainUI/chongsheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,524},{83,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,93}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>MainUI_Text.png</string>
			<key>realTextureFileName</key>
			<string>MainUI_Text.png</string>
			<key>size</key>
			<string>{409,922}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>409</integer>
			<key>height</key>
			<integer>922</integer>
		</dict>
	</dict>
</plist>