<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>but.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{77,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,46}}</string>
                <key>sourceSize</key>
                <string>{77,46}</string>
            </dict>
            <key>oc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{102,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,46}}</string>
                <key>sourceSize</key>
                <string>{102,46}</string>
            </dict>
            <key>open.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,46}}</string>
                <key>sourceSize</key>
                <string>{77,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameSet.png</string>
            <key>size</key>
            <string>{146,146}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bb2ce6caf8d30ff165771a0ab988908:1/1$</string>
            <key>textureFileName</key>
            <string>gameSet.png</string>
        </dict>
    </dict>
</plist>
