<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>commonUI/res/tyj/ShiLianUI/lis.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{240,460}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,460}</string>
			</dict>
			<key>commonUI/res/tyj/ShiLianUI/mshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,460},{240,460}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,460}</string>
			</dict>
			<key>commonUI/res/tyj/ShiLianUI/shushu.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,0},{240,460}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,460}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ShiLianUI_Text.png</string>
			<key>realTextureFileName</key>
			<string>ShiLianUI_Text.png</string>
			<key>size</key>
			<string>{480,920}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>920</integer>
		</dict>
	</dict>
</plist>