<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lk/ui_res/GuildBattleUI/changan.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,1},{163,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,101}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/changan_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,104},{147,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,101}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/chengdu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1909,1},{134,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,78}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/chengdu_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,230},{122,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,78}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/hanzhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1271,113},{114,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,68}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/hanzhong_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1386,242},{104,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,68}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/jianan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1662,170},{114,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,68}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/jianan_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1619,240},{104,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,68}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/jiangxia.png</key>
			<dict>
				<key>frame</key>
				<string>{{1725,278},{89,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,58}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/jiangxia_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1778,170},{81,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,58}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/jianning.png</key>
			<dict>
				<key>frame</key>
				<string>{{1598,304},{89,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,58}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/jianning_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1778,224},{81,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,58}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/jianye.png</key>
			<dict>
				<key>frame</key>
				<string>{{1394,42},{134,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,78}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/jianye_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1861,81},{122,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,78}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/namebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1387,122},{199,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,48}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/nanpi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1077,207},{89,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,58}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/nanpi_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1503,172},{81,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,58}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/red.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,302},{115,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,8}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/tianshui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1861,225},{114,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,68}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/tianshui_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1492,296},{104,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,68}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/xiapi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1168,207},{89,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,58}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/xiapi_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,366},{81,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,58}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/xuchang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1134,127},{134,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,78}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/xuchang_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1861,153},{122,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,78}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/yongan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1259,253},{89,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,58}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/yongan_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,277},{81,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,58}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/changan_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,1},{163,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,101}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/chengdu_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1530,42},{134,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,78}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/gonghui_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1706,1},{201,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,61}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/hanzhong_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1387,172},{114,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,68}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/jianan_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1270,183},{114,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,68}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/jiangxia_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,306},{89,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,58}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/jianning_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1441,360},{89,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,58}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/jianye_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,197},{134,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,78}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/nanpi_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1077,267},{89,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,58}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/tianshui_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1503,226},{114,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,68}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/xiapi_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1168,267},{89,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,58}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/xuchang_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,256},{134,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,78}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/yongan_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1259,313},{89,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,58}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/vs.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,1},{177,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,253}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/gezi_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1145,1},{124,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,124}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/gezi_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,104},{124,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,124}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/IDbg_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1666,64},{193,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,51}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/IDbg_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{1666,117},{193,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,51}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{633,261}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{633,261}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/xiacijingjia_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1394,1},{310,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{310,39}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/baoxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1271,1},{121,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,110}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/dengdaigongcheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1985,81},{56,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,71}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/gongchengzhanzhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1588,122},{72,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,68}</string>
			</dict>
			<key>lk/ui_res/GuildBattleUI/jingjiazhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1090,104},{42,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,71}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>GuildBattleUI.png</string>
			<key>realTextureFileName</key>
			<string>GuildBattleUI.png</string>
			<key>size</key>
			<string>{2044,419}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2044</integer>
			<key>height</key>
			<integer>419</integer>
		</dict>
	</dict>
</plist>