<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,2},{204,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,304}}</string>
                <key>sourceSize</key>
                <string>{204,304}</string>
            </dict>
            <key>card_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,308},{197,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,296}}</string>
                <key>sourceSize</key>
                <string>{197,296}</string>
            </dict>
            <key>card_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,308},{197,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,296}}</string>
                <key>sourceSize</key>
                <string>{197,296}</string>
            </dict>
            <key>card_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,308},{197,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,296}}</string>
                <key>sourceSize</key>
                <string>{197,296}</string>
            </dict>
            <key>card_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{197,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,296}}</string>
                <key>sourceSize</key>
                <string>{197,296}</string>
            </dict>
            <key>card_cai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,2},{204,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,304}}</string>
                <key>sourceSize</key>
                <string>{204,304}</string>
            </dict>
            <key>card_cheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{204,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,304}}</string>
                <key>sourceSize</key>
                <string>{204,304}</string>
            </dict>
            <key>card_gui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,308},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>card_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{204,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,304}}</string>
                <key>sourceSize</key>
                <string>{204,304}</string>
            </dict>
            <key>card_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,308},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>card_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{204,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,304}}</string>
                <key>sourceSize</key>
                <string>{204,304}</string>
            </dict>
            <key>card_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{204,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,304}}</string>
                <key>sourceSize</key>
                <string>{204,304}</string>
            </dict>
            <key>card_pu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,308},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>card_qun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,431},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>card_shen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,428},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>card_sheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,388},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>card_shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,390},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>card_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,472},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>card_wang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,348},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>card_wei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,349},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>card_wu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,308},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>card_zhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,308},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>card_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,304}}</string>
                <key>sourceSize</key>
                <string>{204,304}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CardPlist.pvr.ccz</string>
            <key>size</key>
            <string>{1444,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b0ac62576d4d5bcdde09d37a781db54$</string>
            <key>textureFileName</key>
            <string>CardPlist.pvr.ccz</string>
        </dict>
    </dict>
</plist>
