<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>property_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,292},{78,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,90}}</string>
                <key>sourceSize</key>
                <string>{78,90}</string>
            </dict>
            <key>property_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{70,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,98}}</string>
                <key>sourceSize</key>
                <string>{70,98}</string>
            </dict>
            <key>property_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,848},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{98,100}</string>
            </dict>
            <key>property_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,704},{90,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>property_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,218},{74,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,98}}</string>
                <key>sourceSize</key>
                <string>{74,98}</string>
            </dict>
            <key>property_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{98,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,64}}</string>
                <key>sourceSize</key>
                <string>{98,64}</string>
            </dict>
            <key>property_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,848},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{98,100}</string>
            </dict>
            <key>property_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,98},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>property_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,950},{72,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,96}}</string>
                <key>sourceSize</key>
                <string>{72,96}</string>
            </dict>
            <key>property_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,590},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>property_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,538},{96,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,68}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>property_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,384},{70,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,84}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>property_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,702},{68,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,92}}</string>
                <key>sourceSize</key>
                <string>{68,92}</string>
            </dict>
            <key>property_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,608},{94,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,88}}</string>
                <key>sourceSize</key>
                <string>{94,88}</string>
            </dict>
            <key>property_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,106},{98,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,64}}</string>
                <key>sourceSize</key>
                <string>{98,64}</string>
            </dict>
            <key>property_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,496},{82,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,92}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>property_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,318},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>property_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{96,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,102}}</string>
                <key>sourceSize</key>
                <string>{96,102}</string>
            </dict>
            <key>property_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,436},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>property_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{94,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,88}}</string>
                <key>sourceSize</key>
                <string>{94,88}</string>
            </dict>
            <key>property_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,196},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>property_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,330},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>property_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,952},{96,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{96,70}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>property_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,296},{76,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,94}}</string>
                <key>sourceSize</key>
                <string>{76,94}</string>
            </dict>
            <key>property_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,470},{76,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,84}}</string>
                <key>sourceSize</key>
                <string>{76,84}</string>
            </dict>
            <key>property_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,384},{76,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,84}}</string>
                <key>sourceSize</key>
                <string>{76,84}</string>
            </dict>
            <key>property_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,608},{92,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,84}}</string>
                <key>sourceSize</key>
                <string>{92,84}</string>
            </dict>
            <key>property_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,194},{90,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,78}}</string>
                <key>sourceSize</key>
                <string>{90,78}</string>
            </dict>
            <key>property_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,400},{94,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,78}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>property_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,512},{94,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,81}}</string>
                <key>sourceSize</key>
                <string>{94,81}</string>
            </dict>
            <key>property_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,866},{90,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>property_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,774},{90,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,86}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>property_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,538},{98,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,86}}</string>
                <key>sourceSize</key>
                <string>{98,86}</string>
            </dict>
            <key>property_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,892},{90,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,86}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>property_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,682},{90,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>property_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,206},{96,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,90}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>property_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,102},{88,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,96}}</string>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
            <key>property_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,636},{95,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,81}}</string>
                <key>sourceSize</key>
                <string>{95,81}</string>
            </dict>
            <key>property_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,286},{64,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{64,82}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>property_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,958},{64,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,16},{64,82}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>property_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,958},{64,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,16},{64,82}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>property_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,798},{80,92}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{80,92}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>property_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{96,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,88}}</string>
                <key>sourceSize</key>
                <string>{96,88}</string>
            </dict>
            <key>property_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,96},{86,74}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,18},{86,74}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>property_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{108,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{108,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>property_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{94,102}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{94,102}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>property_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{94,102}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{94,102}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>property_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{94,102}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{94,102}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>property_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,114},{94,102}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{94,102}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>property_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,226},{94,102}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{94,102}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>property_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,100},{88,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{88,94}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>property_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,200},{88,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{88,94}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>property_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,304},{88,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{88,94}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>property_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,416},{90,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,94}}</string>
                <key>sourceSize</key>
                <string>{90,94}</string>
            </dict>
            <key>property_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,416},{88,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{88,94}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>property_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,512},{88,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{88,94}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>property_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,950},{72,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,100}}</string>
                <key>sourceSize</key>
                <string>{72,100}</string>
            </dict>
            <key>property_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{80,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,84}}</string>
                <key>sourceSize</key>
                <string>{80,84}</string>
            </dict>
            <key>property_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{78,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,104}}</string>
                <key>sourceSize</key>
                <string>{78,104}</string>
            </dict>
            <key>property_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,798},{92,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,78}}</string>
                <key>sourceSize</key>
                <string>{92,78}</string>
            </dict>
            <key>property_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>property_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,733},{92,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{92,94}</string>
            </dict>
            <key>property_soul.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{80,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,102}}</string>
                <key>sourceSize</key>
                <string>{80,102}</string>
            </dict>
            <key>property_soulCrystal.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>seven_starts_army.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,746},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seven_starts_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seven_starts_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,644},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>seven_starts_mp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daoju.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b2246330a5c63547e6050b144edbfc7:1/1$</string>
            <key>textureFileName</key>
            <string>daoju.png</string>
        </dict>
    </dict>
</plist>
