<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>archer1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,326},{136,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,168}}</string>
                <key>sourceSize</key>
                <string>{136,168}</string>
            </dict>
            <key>archer2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{134,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,180}}</string>
                <key>sourceSize</key>
                <string>{134,180}</string>
            </dict>
            <key>archer3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,264},{118,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,176}}</string>
                <key>sourceSize</key>
                <string>{118,176}</string>
            </dict>
            <key>archer4.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{136,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,168}}</string>
                <key>sourceSize</key>
                <string>{136,168}</string>
            </dict>
            <key>archer5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,180}}</string>
                <key>sourceSize</key>
                <string>{134,180}</string>
            </dict>
            <key>avatar_archer1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,912},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>avatar_archer2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,810},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>avatar_archer3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,908},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>avatar_archer4.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,806},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>avatar_archer5.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,806},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>avatar_cavalry1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>avatar_cavalry2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,708},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>avatar_cavalry3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>avatar_cavalry4.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,708},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>avatar_cavalry5.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,704},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>avatar_infantry1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,704},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>avatar_infantry2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,606},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>avatar_infantry3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>avatar_infantry4.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,606},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>avatar_infantry5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cavalry1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,384},{110,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,176}}</string>
                <key>sourceSize</key>
                <string>{110,176}</string>
            </dict>
            <key>cavalry2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{124,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,176}}</string>
                <key>sourceSize</key>
                <string>{124,176}</string>
            </dict>
            <key>cavalry3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{110,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,178}}</string>
                <key>sourceSize</key>
                <string>{110,178}</string>
            </dict>
            <key>cavalry4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{110,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,176}}</string>
                <key>sourceSize</key>
                <string>{110,176}</string>
            </dict>
            <key>cavalry5.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,138},{124,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,176}}</string>
                <key>sourceSize</key>
                <string>{124,176}</string>
            </dict>
            <key>infantry1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,600},{102,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,160}}</string>
                <key>sourceSize</key>
                <string>{102,160}</string>
            </dict>
            <key>infantry2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,496},{108,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,170}}</string>
                <key>sourceSize</key>
                <string>{108,170}</string>
            </dict>
            <key>infantry3.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,172},{148,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,152}}</string>
                <key>sourceSize</key>
                <string>{148,152}</string>
            </dict>
            <key>infantry4.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,496},{102,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,160}}</string>
                <key>sourceSize</key>
                <string>{102,160}</string>
            </dict>
            <key>infantry5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{108,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,170}}</string>
                <key>sourceSize</key>
                <string>{108,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SodiersCradinfo.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a48dc278303899bd6533675e6b0c9478:1/1$</string>
            <key>textureFileName</key>
            <string>SodiersCradinfo.png</string>
        </dict>
    </dict>
</plist>
