<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xuezhan_1pin.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,748},{57,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,31}}</string>
                <key>sourceSize</key>
                <string>{57,31}</string>
            </dict>
            <key>xuezhan_1pinDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,689},{57,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,31}}</string>
                <key>sourceSize</key>
                <string>{57,31}</string>
            </dict>
            <key>xuezhan_2pin.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,690},{57,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,31}}</string>
                <key>sourceSize</key>
                <string>{57,31}</string>
            </dict>
            <key>xuezhan_2pinDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,657},{57,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,31}}</string>
                <key>sourceSize</key>
                <string>{57,31}</string>
            </dict>
            <key>xuezhan_3pin.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1064},{57,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,31}}</string>
                <key>sourceSize</key>
                <string>{57,31}</string>
            </dict>
            <key>xuezhan_3pinDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1005},{57,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,31}}</string>
                <key>sourceSize</key>
                <string>{57,31}</string>
            </dict>
            <key>xuezhan_4pin.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,747},{56,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,31}}</string>
                <key>sourceSize</key>
                <string>{56,31}</string>
            </dict>
            <key>xuezhan_4pinDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,689},{56,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,31}}</string>
                <key>sourceSize</key>
                <string>{56,31}</string>
            </dict>
            <key>xuezhan_Zgou.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,756},{48,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,36}}</string>
                <key>sourceSize</key>
                <string>{48,36}</string>
            </dict>
            <key>xuezhan_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{822,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{822,300}}</string>
                <key>sourceSize</key>
                <string>{822,300}</string>
            </dict>
            <key>xuezhan_chanllage.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,427},{60,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,33}}</string>
                <key>sourceSize</key>
                <string>{60,33}</string>
            </dict>
            <key>xuezhan_chooseA.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,709},{524,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,420}}</string>
                <key>sourceSize</key>
                <string>{524,420}</string>
            </dict>
            <key>xuezhan_detail.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,594},{98,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,30}}</string>
                <key>sourceSize</key>
                <string>{98,30}</string>
            </dict>
            <key>xuezhan_devil.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,709},{206,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,236}}</string>
                <key>sourceSize</key>
                <string>{206,236}</string>
            </dict>
            <key>xuezhan_diyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,352},{73,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,36}}</string>
                <key>sourceSize</key>
                <string>{73,36}</string>
            </dict>
            <key>xuezhan_guanka.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,2},{60,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,258}}</string>
                <key>sourceSize</key>
                <string>{60,258}</string>
            </dict>
            <key>xuezhan_hard.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,947},{172,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,195}}</string>
                <key>sourceSize</key>
                <string>{172,195}</string>
            </dict>
            <key>xuezhan_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,262},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,26}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
            <key>xuezhan_heart1.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,407},{25,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,18}}</string>
                <key>sourceSize</key>
                <string>{25,18}</string>
            </dict>
            <key>xuezhan_jiacheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{653,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{653,37}}</string>
                <key>sourceSize</key>
                <string>{653,37}</string>
            </dict>
            <key>xuezhan_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,635},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>xuezhan_kun.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,594},{70,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,39}}</string>
                <key>sourceSize</key>
                <string>{70,39}</string>
            </dict>
            <key>xuezhan_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,2},{808,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{808,2}}</string>
                <key>sourceSize</key>
                <string>{808,2}</string>
            </dict>
            <key>xuezhan_lookover.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,694},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>xuezhan_luoyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1076},{83,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,41}}</string>
                <key>sourceSize</key>
                <string>{83,41}</string>
            </dict>
            <key>xuezhan_no1.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,497},{95,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,92}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>xuezhan_no2.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1005},{95,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,92}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>xuezhan_no3.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,979},{95,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,92}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>xuezhan_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,812},{170,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,191}}</string>
                <key>sourceSize</key>
                <string>{170,191}</string>
            </dict>
            <key>xuezhan_pahangbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{842,403}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{842,403}}</string>
                <key>sourceSize</key>
                <string>{842,403}</string>
            </dict>
            <key>xuezhan_paihang.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1005},{82,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{82,42}}</string>
                <key>sourceSize</key>
                <string>{84,42}</string>
            </dict>
            <key>xuezhan_pu.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,723},{71,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,41}}</string>
                <key>sourceSize</key>
                <string>{71,41}</string>
            </dict>
            <key>xuezhan_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,262},{88,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,33}}</string>
                <key>sourceSize</key>
                <string>{88,33}</string>
            </dict>
            <key>xuezhan_shuju.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,709},{268,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,82}}</string>
                <key>sourceSize</key>
                <string>{268,82}</string>
            </dict>
            <key>xuezhan_zongjiacheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,2},{493,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,37}}</string>
                <key>sourceSize</key>
                <string>{493,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xuezhan.pvr.ccz</string>
            <key>size</key>
            <string>{993,1131}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24956e42fab098e0646396612ae04b46$</string>
            <key>textureFileName</key>
            <string>xuezhan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
