<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ani_SevenStars_bao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,2},{73,74}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,113},{73,74}}</string>
                <key>sourceSize</key>
                <string>{311,300}</string>
            </dict>
            <key>Ani_SevenStars_bao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,2},{73,74}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,113},{73,74}}</string>
                <key>sourceSize</key>
                <string>{311,300}</string>
            </dict>
            <key>Ani_SevenStars_bao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,2},{261,262}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,32},{261,262}}</string>
                <key>sourceSize</key>
                <string>{311,300}</string>
            </dict>
            <key>Ani_SevenStars_bao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,2},{271,270}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,26},{271,270}}</string>
                <key>sourceSize</key>
                <string>{311,300}</string>
            </dict>
            <key>Ani_SevenStars_bao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{277,278}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,20},{277,278}}</string>
                <key>sourceSize</key>
                <string>{311,300}</string>
            </dict>
            <key>Ani_SevenStars_bao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{275,276}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{275,276}}</string>
                <key>sourceSize</key>
                <string>{311,300}</string>
            </dict>
            <key>Ani_SevenStars_bao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{255,254}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,27},{255,254}}</string>
                <key>sourceSize</key>
                <string>{311,300}</string>
            </dict>
            <key>Ani_SevenStars_bao8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{255,254}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,27},{255,254}}</string>
                <key>sourceSize</key>
                <string>{311,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ani_SevenStars_bao.pvr.ccz</string>
            <key>size</key>
            <string>{1425,281}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:359a397ccf91b8ceebdfe57b9b5e583b:1/1$</string>
            <key>textureFileName</key>
            <string>Ani_SevenStars_bao.pvr.ccz</string>
        </dict>
    </dict>
</plist>
