<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1457},{123,119}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,100},{123,119}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1457},{123,119}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,100},{123,119}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1376},{123,125}}</string>
                <key>offset</key>
                <string>{-13,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,101},{123,125}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1445},{125,159}}</string>
                <key>offset</key>
                <string>{-14,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,86},{125,159}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,745},{171,223}}</string>
                <key>offset</key>
                <string>{-13,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,63},{171,223}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,582},{207,251}}</string>
                <key>offset</key>
                <string>{-14,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,48},{207,251}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,582},{207,251}}</string>
                <key>offset</key>
                <string>{-14,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,48},{207,251}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,299},{281,291}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{281,291}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{295,291}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{295,291}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{295,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,299}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{295,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,299}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,2},{295,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,299}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,2},{295,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,299}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{295,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,299}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,299},{273,221}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,42},{273,221}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,522},{269,203}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,60},{269,203}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,791},{223,213}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,53},{223,213}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,791},{223,213}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,53},{223,213}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,727},{227,227}}</string>
                <key>offset</key>
                <string>{-21,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,46},{227,227}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,727},{227,227}}</string>
                <key>offset</key>
                <string>{-21,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,46},{227,227}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,825},{227,235}}</string>
                <key>offset</key>
                <string>{-18,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,43},{227,235}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{231,243}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,39},{231,243}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{231,243}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,39},{231,243}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1197},{177,177}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,73},{177,177}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1197},{177,177}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,73},{177,177}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1054},{177,185}}</string>
                <key>offset</key>
                <string>{-19,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,70},{177,185}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1149},{185,189}}</string>
                <key>offset</key>
                <string>{-18,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,68},{185,189}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,1113},{189,193}}</string>
                <key>offset</key>
                <string>{-18,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,64},{189,193}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1006},{189,195}}</string>
                <key>offset</key>
                <string>{-18,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,64},{189,195}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1006},{189,195}}</string>
                <key>offset</key>
                <string>{-18,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,64},{189,195}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,956},{191,203}}</string>
                <key>offset</key>
                <string>{-21,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,60},{191,203}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,956},{191,203}}</string>
                <key>offset</key>
                <string>{-21,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,60},{191,203}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,604},{139,159}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,60},{139,159}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1304},{139,161}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,58},{139,161}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1304},{139,161}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,58},{139,161}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1304},{141,163}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,56},{141,163}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1304},{141,163}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,56},{141,163}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1374},{141,165}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,54},{141,165}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,970},{141,167}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,52},{141,167}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1233},{139,167}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,52},{139,167}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,431},{143,171}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,48},{143,171}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,431},{143,171}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,48},{143,171}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1447},{135,119}}</string>
                <key>offset</key>
                <string>{2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,44},{135,119}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1447},{135,119}}</string>
                <key>offset</key>
                <string>{2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,44},{135,119}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1336},{139,119}}</string>
                <key>offset</key>
                <string>{5,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,44},{139,119}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,1336},{137,121}}</string>
                <key>offset</key>
                <string>{4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,42},{137,121}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,1336},{137,121}}</string>
                <key>offset</key>
                <string>{4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,42},{137,121}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,2},{141,115}}</string>
                <key>offset</key>
                <string>{6,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,39},{141,115}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,2},{141,115}}</string>
                <key>offset</key>
                <string>{6,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,39},{141,115}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,145},{141,113}}</string>
                <key>offset</key>
                <string>{6,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,39},{141,113}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,288},{141,69}}</string>
                <key>offset</key>
                <string>{6,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,81},{141,69}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,727},{143,67}}</string>
                <key>offset</key>
                <string>{7,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,80},{143,67}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,872},{143,65}}</string>
                <key>offset</key>
                <string>{7,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,80},{143,65}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,872},{143,65}}</string>
                <key>offset</key>
                <string>{7,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,80},{143,65}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1017},{141,63}}</string>
                <key>offset</key>
                <string>{8,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,79},{141,63}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1017},{141,63}}</string>
                <key>offset</key>
                <string>{8,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,79},{141,63}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,882},{143,49}}</string>
                <key>offset</key>
                <string>{9,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,87},{143,49}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,737},{143,49}}</string>
                <key>offset</key>
                <string>{9,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,87},{143,49}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,737},{143,49}}</string>
                <key>offset</key>
                <string>{9,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,87},{143,49}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,592},{143,49}}</string>
                <key>offset</key>
                <string>{9,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,85},{143,49}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,592},{143,49}}</string>
                <key>offset</key>
                <string>{9,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,85},{143,49}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,145},{1,1}}</string>
                <key>offset</key>
                <string>{-147,149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
            <key>0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,145},{1,1}}</string>
                <key>offset</key>
                <string>{-147,149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{295,299}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enhance.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bc94bab51ed323f2330f5155e1f638f:1/1$</string>
            <key>textureFileName</key>
            <string>enhance.png</string>
        </dict>
    </dict>
</plist>
