<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ani_cardaround1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,364},{260,360}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{260,360}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>Ani_cardaround10.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,264},{262,354}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{262,354}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>Ani_cardaround11.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{262,360}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{262,360}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>Ani_cardaround2.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{258,358}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{258,358}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>Ani_cardaround3.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{260,356}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,21},{260,356}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>Ani_cardaround4.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,724},{264,350}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,25},{264,350}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>Ani_cardaround5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{262,364}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{262,364}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>Ani_cardaround6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,364}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{262,364}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>Ani_cardaround7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{258,362}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{258,362}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>Ani_cardaround8.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,364},{260,358}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{260,358}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>Ani_cardaround9.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,726},{264,354}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,23},{264,354}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroTryToEffects.pvr.ccz</string>
            <key>size</key>
            <string>{1152,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0982bd3b90e76dec32712f3ff25ac3e9$</string>
            <key>textureFileName</key>
            <string>heroTryToEffects.pvr.ccz</string>
        </dict>
    </dict>
</plist>
