<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ani_SevenStars1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,2},{190,138}}</string>
                <key>offset</key>
                <string>{1,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,3},{190,138}}</string>
                <key>sourceSize</key>
                <string>{360,400}</string>
            </dict>
            <key>Ani_SevenStars2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,2},{284,202}}</string>
                <key>offset</key>
                <string>{2,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{284,202}}</string>
                <key>sourceSize</key>
                <string>{360,400}</string>
            </dict>
            <key>Ani_SevenStars3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{320,266}}</string>
                <key>offset</key>
                <string>{2,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{320,266}}</string>
                <key>sourceSize</key>
                <string>{360,400}</string>
            </dict>
            <key>Ani_SevenStars4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{328,340}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{328,340}}</string>
                <key>sourceSize</key>
                <string>{360,400}</string>
            </dict>
            <key>Ani_SevenStars5.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{318,342}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,58},{318,342}}</string>
                <key>sourceSize</key>
                <string>{360,400}</string>
            </dict>
            <key>Ani_SevenStars6.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{298,268}}</string>
                <key>offset</key>
                <string>{2,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,132},{298,268}}</string>
                <key>sourceSize</key>
                <string>{360,400}</string>
            </dict>
            <key>Ani_SevenStars7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,142},{184,106}}</string>
                <key>offset</key>
                <string>{2,-147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,294},{184,106}}</string>
                <key>sourceSize</key>
                <string>{360,400}</string>
            </dict>
            <key>Ani_SevenStars8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,142},{184,112}}</string>
                <key>offset</key>
                <string>{2,-144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,288},{184,112}}</string>
                <key>sourceSize</key>
                <string>{360,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sevenstar_st.pvr.ccz</string>
            <key>size</key>
            <string>{1652,332}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f87785ed9890806704130d28888e7149:1/1$</string>
            <key>textureFileName</key>
            <string>sevenstar_st.pvr.ccz</string>
        </dict>
    </dict>
</plist>
