<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ani_easy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{278,290}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,290}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Ani_easy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{270,276}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{270,276}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Ani_easy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,2},{254,264}}</string>
                <key>offset</key>
                <string>{-12,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{254,264}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Ani_easy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{290,300}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Ani_easy5.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{276,292}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{276,292}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Ani_easy6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,2},{252,264}}</string>
                <key>offset</key>
                <string>{-12,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{252,264}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Ani_greensmoke1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,148},{94,136}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,72},{94,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Ani_greensmoke2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,2},{108,144}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,62},{108,144}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Ani_greensmoke3.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,304},{122,162}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,51},{122,162}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Ani_greensmoke4.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,296},{134,178}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,41},{134,178}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Ani_greensmoke5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,268},{142,188}}</string>
                <key>offset</key>
                <string>{-5,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,34},{142,188}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Ani_greensmoke6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,148},{96,138}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,69},{96,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Ani_greensmoke7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,112},{114,154}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,56},{114,154}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Ani_greensmoke8.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,304},{128,170}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,47},{128,170}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Ani_greensmoke9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,268},{140,186}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,36},{140,186}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Ani_put1.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,294},{158,176}}</string>
                <key>offset</key>
                <string>{14,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,34},{158,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Ani_put2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,268},{182,208}}</string>
                <key>offset</key>
                <string>{18,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,1},{182,208}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Ani_put3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,2},{216,144}}</string>
                <key>offset</key>
                <string>{31,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,69},{216,144}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Ani_put4.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,296},{178,142}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,79},{178,142}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Ani_put5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,286},{182,160}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,65},{182,160}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Ani_put6.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,294},{158,176}}</string>
                <key>offset</key>
                <string>{14,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,34},{158,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Ani_put7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,268},{190,142}}</string>
                <key>offset</key>
                <string>{21,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,68},{190,142}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Ani_put8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{170,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,85},{170,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Ani_put9.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,280},{190,154}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,71},{190,154}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xuezhan_effects.pvr.ccz</string>
            <key>size</key>
            <string>{2002,476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3dc6621a4e7aeaff0bb9245da20a28b9$</string>
            <key>textureFileName</key>
            <string>xuezhan_effects.pvr.ccz</string>
        </dict>
    </dict>
</plist>
