<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cs/ui_res/MainIcon/Ani_mainGate.png</key>
			<dict>
				<key>frame</key>
				<string>{{1510,744},{121,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,109}</string>
			</dict>
			<key>cs/ui_res/MainIcon/arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1903,1025},{80,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,61}</string>
			</dict>
			<key>cs/ui_res/MainIcon/headdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1944,812},{83,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,83}</string>
			</dict>
			<key>cs/ui_res/MainIcon/headout.png</key>
			<dict>
				<key>frame</key>
				<string>{{1947,623},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>cs/ui_res/MainIcon/hideBt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1944,720},{80,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,90}</string>
			</dict>
			<key>cs/ui_res/MainIcon/level.png</key>
			<dict>
				<key>frame</key>
				<string>{{1688,300},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>cs/ui_res/MainIcon/main_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1510,855},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>cs/ui_res/MainIcon/main_service.png</key>
			<dict>
				<key>frame</key>
				<string>{{1903,897},{64,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,90}</string>
			</dict>
			<key>cs/ui_res/MainIcon/namebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1903,989},{144,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,34}</string>
			</dict>
			<key>cs/ui_res/MainUI/beijing.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,910},{450,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{450,66}</string>
			</dict>
			<key>cs/ui_res/MainUI/heroTrials.png</key>
			<dict>
				<key>frame</key>
				<string>{{1277,700},{231,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,188}</string>
			</dict>
			<key>cs/ui_res/MainUI/heroTrials_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,561},{231,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,188}</string>
			</dict>
			<key>cs/ui_res/MainUI/information_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1286,300},{400,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,180}</string>
			</dict>
			<key>cs/ui_res/MainUI/main_front.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1736,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1736,297}</string>
			</dict>
			<key>cs/ui_res/MainUI/main_jiuguan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1688,411},{257,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,216}</string>
			</dict>
			<key>cs/ui_res/MainUI/main_jiuguan_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1286,482},{257,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,216}</string>
			</dict>
			<key>cs/ui_res/MainUI/main_qixing.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,739},{204,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,169}</string>
			</dict>
			<key>cs/ui_res/MainUI/main_qixing_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,751},{204,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,169}</string>
			</dict>
			<key>cs/ui_res/MainUI/main_shu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1221,890},{263,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,107}</string>
			</dict>
			<key>cs/ui_res/MainUI/main_shu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,300},{435,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{435,224}</string>
			</dict>
			<key>cs/ui_res/MainUI/main_tianti.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,561},{236,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{236,176}</string>
			</dict>
			<key>cs/ui_res/MainUI/main_tianti_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,732},{236,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{236,176}</string>
			</dict>
			<key>cs/ui_res/MainUI/main_tinker.png</key>
			<dict>
				<key>frame</key>
				<string>{{1739,1},{303,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,203}</string>
			</dict>
			<key>cs/ui_res/MainUI/main_tinker_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1739,206},{303,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,203}</string>
			</dict>
			<key>cs/ui_res/MainUI/main_xuezhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1674,629},{268,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,204}</string>
			</dict>
			<key>cs/ui_res/MainUI/main_xuezhan_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,526},{268,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,204}</string>
			</dict>
			<key>cs/ui_res/MainUI/main_youxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1119,526},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>cs/ui_res/MainUI/main_youxiang_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1119,660},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>cs/ui_res/MainUI/mainCity.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,300},{422,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{422,259}</string>
			</dict>
			<key>cs/ui_res/MainUI/mainCity_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,300},{422,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{422,259}</string>
			</dict>
			<key>cs/ui_res/MainUI/main_chuzheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,767},{239,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{239,169}</string>
			</dict>
			<key>cs/ui_res/MainUI/main_chuzheng_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,794},{239,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{239,169}</string>
			</dict>
			<key>cs/ui_res/MainUI/main_mission.png</key>
			<dict>
				<key>frame</key>
				<string>{{1545,482},{127,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,129}</string>
			</dict>
			<key>cs/ui_res/MainUI/main_mission_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1545,613},{127,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,129}</string>
			</dict>
			<key>cs/ui_res/MainUI/p2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1486,933},{142,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,19}</string>
			</dict>
			<key>cs/ui_res/MainUI/phb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1947,411},{89,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,104}</string>
			</dict>
			<key>cs/ui_res/MainUI/phb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1947,517},{89,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,104}</string>
			</dict>
			<key>cs/ui_res/MainUI/gvgicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1633,835},{268,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,204}</string>
			</dict>
			<key>cs/ui_res/MainUI/gvgicon_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,561},{268,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,204}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>MainUI.png</string>
			<key>realTextureFileName</key>
			<string>MainUI.png</string>
			<key>size</key>
			<string>{2048,1087}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1087</integer>
		</dict>
	</dict>
</plist>