<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>commonUI/res/lk/GvgUI/cyjj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1910,140},{103,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,31}</string>
			</dict>
			<key>commonUI/res/lk/GvgUI/dacheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1800,69},{99,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,64}</string>
			</dict>
			<key>commonUI/res/lk/GvgUI/gcjj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1784,173},{122,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,25}</string>
			</dict>
			<key>commonUI/res/lk/GvgUI/gongchengdaojishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1071,211},{270,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,39}</string>
			</dict>
			<key>commonUI/res/lk/GvgUI/jingjiadaojishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1343,211},{270,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,39}</string>
			</dict>
			<key>commonUI/res/lk/GvgUI/jjpm.png</key>
			<dict>
				<key>frame</key>
				<string>{{1784,200},{100,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,24}</string>
			</dict>
			<key>commonUI/res/lk/GvgUI/jrzc.png</key>
			<dict>
				<key>frame</key>
				<string>{{1675,171},{107,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,31}</string>
			</dict>
			<key>commonUI/res/lk/GvgUI/jingjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{591,448}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{591,448}</string>
			</dict>
			<key>commonUI/res/lk/GvgUI/lijifuhuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1800,140},{108,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,31}</string>
			</dict>
			<key>commonUI/res/lk/GvgUI/shengli.png</key>
			<dict>
				<key>frame</key>
				<string>{{1904,1},{123,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,100}</string>
			</dict>
			<key>commonUI/res/lk/GvgUI/shibai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1675,69},{123,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,100}</string>
			</dict>
			<key>commonUI/res/lk/GvgUI/lingjiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,1},{475,366}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{475,366}</string>
			</dict>
			<key>commonUI/res/lk/GvgUI/houkefuhuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1908,173},{123,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,21}</string>
			</dict>
			<key>commonUI/res/lk/GvgUI/jlfb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1901,103},{104,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,35}</string>
			</dict>
			<key>commonUI/res/lk/CityPopUI/guankan_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1071,283},{320,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,29}</string>
			</dict>
			<key>commonUI/res/lk/GvgUI/shengli_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1071,252},{355,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{355,29}</string>
			</dict>
			<key>commonUI/res/lk/GvgUI/shibai_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1428,267},{348,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{348,29}</string>
			</dict>
			<key>commonUI/res/lk/GvgUI/zdjs_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1675,1},{227,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,66}</string>
			</dict>
			<key>commonUI/res/lk/GvgUI/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1071,1},{602,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{602,208}</string>
			</dict>
			<key>commonUI/res/lk/GvgUI/xiacijingjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{1615,226},{270,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,39}</string>
			</dict>
			<key>commonUI/res/lk/GvgUI/zhandoujieguo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1908,196},{107,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,24}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>GvgUI_Text.png</string>
			<key>realTextureFileName</key>
			<string>GvgUI_Text.png</string>
			<key>size</key>
			<string>{2032,450}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2032</integer>
			<key>height</key>
			<integer>450</integer>
		</dict>
	</dict>
</plist>