<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ani_Lightning1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,646},{404,320}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,352},{404,320}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_Lightning10.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,646},{404,320}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,352},{404,320}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_Lightning11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,408},{404,320}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,352},{404,320}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_Lightning13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,324},{404,320}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,352},{404,320}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_Lightning14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,2},{404,320}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,352},{404,320}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_Lightning15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,2},{404,320}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,352},{404,320}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_Lightning2.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,324},{404,320}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,352},{404,320}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_Lightning4.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{404,320}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,352},{404,320}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_Lightning5.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,666},{404,320}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,352},{404,320}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_Lightning6.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,344},{404,320}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,352},{404,320}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_Lightning7.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{404,340}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,332},{404,340}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_Lightning8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{404,342}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,330},{404,342}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_Lightning9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{404,388}}</string>
                <key>offset</key>
                <string>{-7,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,284},{404,388}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ani_Lightning.pvr.ccz</string>
            <key>size</key>
            <string>{1948,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16664caafd824ff06b94da11db8c52e1$</string>
            <key>textureFileName</key>
            <string>Ani_Lightning.pvr.ccz</string>
        </dict>
    </dict>
</plist>
