<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ani_phoenix1.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,1634},{260,286}}</string>
                <key>offset</key>
                <string>{-297,170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,87},{260,286}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>Ani_phoenix10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1614},{572,358}}</string>
                <key>offset</key>
                <string>{-99,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,141},{572,358}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>Ani_phoenix11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1254},{572,358}}</string>
                <key>offset</key>
                <string>{-124,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,154},{572,358}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>Ani_phoenix12.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,596},{578,358}}</string>
                <key>offset</key>
                <string>{-99,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,141},{578,358}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>Ani_phoenix13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,2},{578,358}}</string>
                <key>offset</key>
                <string>{-98,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,141},{578,358}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>Ani_phoenix14.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,956},{572,358}}</string>
                <key>offset</key>
                <string>{-100,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,141},{572,358}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>Ani_phoenix15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,582},{422,358}}</string>
                <key>offset</key>
                <string>{-22,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,141},{422,358}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>Ani_phoenix16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,1620},{354,358}}</string>
                <key>offset</key>
                <string>{-53,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,141},{354,358}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>Ani_phoenix17.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1634},{352,316}}</string>
                <key>offset</key>
                <string>{-53,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,167},{352,316}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>Ani_phoenix18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1490},{190,128}}</string>
                <key>offset</key>
                <string>{10,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,355},{190,128}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>Ani_phoenix19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,1490},{190,114}}</string>
                <key>offset</key>
                <string>{152,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,214},{190,114}}</string>
                <key>sourceSize</key>
                <string>{600,384}</string>
            </dict>
            <key>Ani_phoenix2.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{608,288}}</string>
                <key>offset</key>
                <string>{-101,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,141},{608,288}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>Ani_phoenix20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,1490},{190,114}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,355},{190,114}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>Ani_phoenix3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,942},{546,392}}</string>
                <key>offset</key>
                <string>{-82,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,98},{546,392}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>Ani_phoenix4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{578,296}}</string>
                <key>offset</key>
                <string>{-116,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,137},{578,296}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>Ani_phoenix5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{612,276}}</string>
                <key>offset</key>
                <string>{-107,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,134},{612,276}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>Ani_phoenix6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{600,326}}</string>
                <key>offset</key>
                <string>{-87,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,126},{600,326}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>Ani_phoenix7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{574,346}}</string>
                <key>offset</key>
                <string>{-101,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,109},{574,346}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>Ani_phoenix8.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,292},{580,302}}</string>
                <key>offset</key>
                <string>{-95,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,140},{580,302}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>Ani_phoenix9.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1316},{570,316}}</string>
                <key>offset</key>
                <string>{-101,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,141},{570,316}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ani_phoenix.pvr.ccz</string>
            <key>size</key>
            <string>{1610,1976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b3941669ff7ddfbc19bf6762a7776dc$</string>
            <key>textureFileName</key>
            <string>Ani_phoenix.pvr.ccz</string>
        </dict>
    </dict>
</plist>
