<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ani_SLightning1.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,572},{80,126}}</string>
                <key>offset</key>
                <string>{-83,262}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{377,175},{80,126}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_SLightning10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{632,332}}</string>
                <key>offset</key>
                <string>{13,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,403},{632,332}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_SLightning2.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1094},{204,386}}</string>
                <key>offset</key>
                <string>{-23,245}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{375,62},{204,386}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_SLightning3.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1300},{338,520}}</string>
                <key>offset</key>
                <string>{-19,193}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,47},{338,520}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_SLightning4.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,572},{404,520}}</string>
                <key>offset</key>
                <string>{-6,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,145},{404,520}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_SLightning5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{538,650}}</string>
                <key>offset</key>
                <string>{-5,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,55},{538,650}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_SLightning6.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{546,568}}</string>
                <key>offset</key>
                <string>{-5,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,134},{546,568}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_SLightning7.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1288},{562,342}}</string>
                <key>offset</key>
                <string>{-1,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,375},{562,342}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_SLightning8.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,654},{584,344}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,371},{584,344}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_SLightning9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1288},{614,320}}</string>
                <key>offset</key>
                <string>{8,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,405},{614,320}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ani_SLightning.pvr.ccz</string>
            <key>size</key>
            <string>{1090,1904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4e8745e17138344f244af9a62ad5c37$</string>
            <key>textureFileName</key>
            <string>Ani_SLightning.pvr.ccz</string>
        </dict>
    </dict>
</plist>
