<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ani_redLight1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1330},{470,340}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,59},{470,340}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Ani_redLight10.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,488},{474,336}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,64},{474,336}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Ani_redLight11.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1662},{468,350}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,59},{468,350}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Ani_redLight12.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1298},{456,362}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,49},{456,362}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Ani_redLight13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{474,358}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,55},{474,358}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Ani_redLight14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{480,348}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,63},{480,348}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Ani_redLight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,834},{458,358}}</string>
                <key>offset</key>
                <string>{11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,53},{458,358}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Ani_redLight3.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{470,360}}</string>
                <key>offset</key>
                <string>{8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,52},{470,360}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Ani_redLight4.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1194},{468,352}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,60},{468,352}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Ani_redLight5.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1664},{456,348}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,60},{456,348}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Ani_redLight6.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,826},{470,348}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,59},{470,348}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Ani_redLight7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{484,358}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,55},{484,358}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Ani_redLight8.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,364},{468,354}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,58},{468,354}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Ani_redLight9.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{456,348}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,61},{456,348}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ani_redLight.pvr.ccz</string>
            <key>size</key>
            <string>{1292,2014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a610685178f44c67c5e0f46063e8ff28$</string>
            <key>textureFileName</key>
            <string>Ani_redLight.pvr.ccz</string>
        </dict>
    </dict>
</plist>
