<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ani_purpleLight1.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,292},{212,284}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,67},{212,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Ani_purpleLight10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{210,288}}</string>
                <key>offset</key>
                <string>{5,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,61},{210,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Ani_purpleLight11.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,292},{212,288}}</string>
                <key>offset</key>
                <string>{3,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,62},{212,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Ani_purpleLight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,220},{214,290}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,62},{214,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Ani_purpleLight3.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,292},{212,288}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,61},{212,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Ani_purpleLight4.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{242,288}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,62},{242,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Ani_purpleLight5.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{220,288}}</string>
                <key>offset</key>
                <string>{3,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,61},{220,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Ani_purpleLight6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,2},{216,290}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,61},{216,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Ani_purpleLight7.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{216,288}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,62},{216,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Ani_purpleLight8.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{220,288}}</string>
                <key>offset</key>
                <string>{3,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,62},{220,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Ani_purpleLight9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,290}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,61},{242,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ani_purpleLight.pvr.ccz</string>
            <key>size</key>
            <string>{1450,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9fad78e322b4ad2f3c98420699acb40$</string>
            <key>textureFileName</key>
            <string>Ani_purpleLight.pvr.ccz</string>
        </dict>
    </dict>
</plist>
