<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ani_greenLight1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{105,92}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,138}</string>
            </dict>
            <key>Ani_greenLight10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1632},{95,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{95,136}}</string>
                <key>sourceSize</key>
                <string>{105,138}</string>
            </dict>
            <key>Ani_greenLight11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1494},{97,136}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{97,136}}</string>
                <key>sourceSize</key>
                <string>{105,138}</string>
            </dict>
            <key>Ani_greenLight12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{103,134}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{103,134}}</string>
                <key>sourceSize</key>
                <string>{105,138}</string>
            </dict>
            <key>Ani_greenLight13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{103,128}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{103,128}}</string>
                <key>sourceSize</key>
                <string>{105,138}</string>
            </dict>
            <key>Ani_greenLight14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{105,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{105,128}}</string>
                <key>sourceSize</key>
                <string>{105,138}</string>
            </dict>
            <key>Ani_greenLight15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,128}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{105,128}}</string>
                <key>sourceSize</key>
                <string>{105,138}</string>
            </dict>
            <key>Ani_greenLight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{105,102}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{105,102}}</string>
                <key>sourceSize</key>
                <string>{105,138}</string>
            </dict>
            <key>Ani_greenLight3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{105,108}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{105,108}}</string>
                <key>sourceSize</key>
                <string>{105,138}</string>
            </dict>
            <key>Ani_greenLight4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{105,118}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{105,118}}</string>
                <key>sourceSize</key>
                <string>{105,138}</string>
            </dict>
            <key>Ani_greenLight5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{103,124}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{103,124}}</string>
                <key>sourceSize</key>
                <string>{105,138}</string>
            </dict>
            <key>Ani_greenLight6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1356},{99,136}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{99,136}}</string>
                <key>sourceSize</key>
                <string>{105,138}</string>
            </dict>
            <key>Ani_greenLight7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1082},{101,134}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{101,134}}</string>
                <key>sourceSize</key>
                <string>{105,138}</string>
            </dict>
            <key>Ani_greenLight8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1218},{99,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{99,136}}</string>
                <key>sourceSize</key>
                <string>{105,138}</string>
            </dict>
            <key>Ani_greenLight9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1770},{95,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{95,134}}</string>
                <key>sourceSize</key>
                <string>{105,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ani_greenLight.pvr.ccz</string>
            <key>size</key>
            <string>{109,1906}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94bd545e678b32cfe7d5e1a33f305a8b$</string>
            <key>textureFileName</key>
            <string>Ani_greenLight.pvr.ccz</string>
        </dict>
    </dict>
</plist>
