<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ani_daoguang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{462,268}}</string>
                <key>offset</key>
                <string>{-21,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,183},{462,268}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Ani_daoguang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{530,354}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,141},{530,354}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Ani_daoguang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,694},{490,298}}</string>
                <key>offset</key>
                <string>{-26,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,168},{490,298}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Ani_daoguang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{454,364}}</string>
                <key>offset</key>
                <string>{-7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,141},{454,364}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Ani_daoguang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,994},{312,178}}</string>
                <key>offset</key>
                <string>{-34,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,214},{312,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Ani_daoguang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,368},{462,324}}</string>
                <key>offset</key>
                <string>{8,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,174},{462,324}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Ani_daoguang7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{476,338}}</string>
                <key>offset</key>
                <string>{22,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,174},{476,338}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Ani_daoguang8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{300,238}}</string>
                <key>offset</key>
                <string>{95,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,228},{300,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Ani_daoguang9.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,994},{346,154}}</string>
                <key>offset</key>
                <string>{-30,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,270},{346,154}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ani_daoguang.pvr.ccz</string>
            <key>size</key>
            <string>{990,1225}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28db800f1d1ab678be457910ec53274d$</string>
            <key>textureFileName</key>
            <string>Ani_daoguang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
