<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ani_ice1.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1624},{358,210}}</string>
                <key>offset</key>
                <string>{5,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{326,415},{358,210}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_ice10.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1306},{376,316}}</string>
                <key>offset</key>
                <string>{5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,316},{376,316}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_ice11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,986},{376,324}}</string>
                <key>offset</key>
                <string>{5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,308},{376,324}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_ice12.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,662},{376,324}}</string>
                <key>offset</key>
                <string>{5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,308},{376,324}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_ice13.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,332},{376,328}}</string>
                <key>offset</key>
                <string>{5,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,304},{376,328}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_ice14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{376,330}}</string>
                <key>offset</key>
                <string>{5,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,302},{376,330}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_ice15.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1306},{376,316}}</string>
                <key>offset</key>
                <string>{5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,316},{376,316}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_ice16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{376,324}}</string>
                <key>offset</key>
                <string>{5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,308},{376,324}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_ice17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{376,324}}</string>
                <key>offset</key>
                <string>{5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,308},{376,324}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_ice18.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{376,328}}</string>
                <key>offset</key>
                <string>{5,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,304},{376,328}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_ice2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1628},{376,224}}</string>
                <key>offset</key>
                <string>{5,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,408},{376,224}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_ice3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1628},{376,314}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,318},{376,314}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_ice4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1312},{376,314}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,318},{376,314}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_ice5.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,988},{376,316}}</string>
                <key>offset</key>
                <string>{5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,316},{376,316}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_ice6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,986},{376,324}}</string>
                <key>offset</key>
                <string>{5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,308},{376,324}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_ice7.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,662},{376,324}}</string>
                <key>offset</key>
                <string>{5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,308},{376,324}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_ice8.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,332},{376,328}}</string>
                <key>offset</key>
                <string>{5,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,304},{376,328}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_ice9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{376,330}}</string>
                <key>offset</key>
                <string>{5,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,302},{376,330}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ani_ice.pvr.ccz</string>
            <key>size</key>
            <string>{800,2006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6388b84f468bd299e64c8d4d05d1bdde$</string>
            <key>textureFileName</key>
            <string>Ani_ice.pvr.ccz</string>
        </dict>
    </dict>
</plist>
