<plist version="1.0"><dict><key>animations</key><dict><key>bagua_default</key><dict><key>frameTime</key><integer>10</integer><key>frames</key><array><string>default/bagua_image1.png</string><string>default/bagua_image2.png</string><string>default/bagua_image3.png</string><string>default/bagua_image4.png</string><string>default/bagua_image5.png</string><string>default/bagua_image6.png</string><string>default/bagua_image7.png</string><string>default/bagua_image8.png</string><string>default/bagua_image9.png</string><string>default/bagua_image10.png</string><string>default/bagua_image11.png</string><string>default/bagua_image12.png</string></array><key>keyFrame</key><integer>0</integer><key>loop</key><integer>1</integer></dict></dict><key>sprites</key><array><string>bagua_Res.plist</string></array></dict></plist>