<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>default/bingzha_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,118},{84,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{84,95}}</string>
                <key>sourceSize</key>
                <string>{90,105}</string>
            </dict>
            <key>default/bingzha_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,563},{116,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{116,78}}</string>
                <key>sourceSize</key>
                <string>{126,86}</string>
            </dict>
            <key>default/bingzha_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,202},{81,80}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{81,80}}</string>
                <key>sourceSize</key>
                <string>{87,86}</string>
            </dict>
            <key>default/bingzha_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,0},{90,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{90,118}}</string>
                <key>sourceSize</key>
                <string>{98,126}</string>
            </dict>
            <key>default/bingzha_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,290},{147,143}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{147,143}}</string>
                <key>sourceSize</key>
                <string>{157,153}</string>
            </dict>
            <key>default/bingzha_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,433},{134,127}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{134,127}}</string>
                <key>sourceSize</key>
                <string>{142,129}</string>
            </dict>
            <key>default/bingzha_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{151,147}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{151,147}}</string>
                <key>sourceSize</key>
                <string>{159,149}</string>
            </dict>
            <key>default/bingzha_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,147},{148,143}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,143}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>default/bingzha_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,433},{121,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{121,130}}</string>
                <key>sourceSize</key>
                <string>{129,132}</string>
            </dict>
            <key>default/bingzha_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,560},{118,121}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,121}}</string>
                <key>sourceSize</key>
                <string>{120,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bingzha_Res.png</string>
            <key>size</key>
            <string>{255,678}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5b722f51797a8a48e5ff203fce06900:1/1$</string>
            <key>textureFileName</key>
            <string>bingzha_Res.png</string>
        </dict>
    </dict>
</plist>
