<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>default/jiansujianxue_14_huozhu_v01_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,1238},{82,138}}</string>
                <key>offset</key>
                <string>{67,187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,0},{82,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_14_huozhu_v01_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,1096},{80,142}}</string>
                <key>offset</key>
                <string>{66,185}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,0},{80,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_14_huozhu_v01_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,1176},{82,150}}</string>
                <key>offset</key>
                <string>{65,181}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,0},{82,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_14_huozhu_v01_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,1096},{80,156}}</string>
                <key>offset</key>
                <string>{61,175}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,3},{80,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_14_huozhu_v01_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,770},{82,162}}</string>
                <key>offset</key>
                <string>{60,167}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,8},{82,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_14_huozhu_v01_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,1012},{84,164}}</string>
                <key>offset</key>
                <string>{58,156}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,18},{84,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_14_huozhu_v01_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,770},{78,166}}</string>
                <key>offset</key>
                <string>{51,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,28},{78,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_14_huozhu_v01_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,934},{78,158}}</string>
                <key>offset</key>
                <string>{47,127}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,50},{78,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_14_huozhu_v01_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,852},{82,158}}</string>
                <key>offset</key>
                <string>{45,115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,62},{82,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_14_huozhu_v01_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,354},{88,158}}</string>
                <key>offset</key>
                <string>{42,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,76},{88,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_14_huozhu_v01_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,362},{90,160}}</string>
                <key>offset</key>
                <string>{38,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,87},{90,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_14_huozhu_v01_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,362},{88,186}}</string>
                <key>offset</key>
                <string>{33,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,97},{88,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_14_huozhu_v01_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,362},{124,180}}</string>
                <key>offset</key>
                <string>{46,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,105},{124,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_14_huozhu_v01_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,180},{226,204}}</string>
                <key>offset</key>
                <string>{63,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,121},{226,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_14_huozhu_v01_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,0},{292,180}}</string>
                <key>offset</key>
                <string>{93,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,136},{292,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_14_huozhu_v01_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,0},{354,186}}</string>
                <key>offset</key>
                <string>{79,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,127},{354,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_14_huozhu_v01_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,384},{386,220}}</string>
                <key>offset</key>
                <string>{63,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,112},{386,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_14_huozhu_v01_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,962},{422,242}}</string>
                <key>offset</key>
                <string>{45,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,112},{422,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_14_huozhu_v01_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,0},{498,294}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,112},{498,294}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_14_huozhu_v01_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,450},{512,326}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,110},{512,326}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_14_huozhu_v01_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1024},{512,360}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,110},{512,360}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_14_huozhu_v01_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1024},{512,360}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,111},{512,360}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_14_huozhu_v01_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,486},{512,362}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,110},{512,362}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_14_huozhu_v01_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1010},{512,362}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,110},{512,362}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_14_huozhu_v01_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,498},{512,362}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,110},{512,362}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_14_huozhu_v01_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,0},{512,362}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,110},{512,362}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_14_huozhu_v01_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,512},{512,362}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,110},{512,362}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_14_huozhu_v01_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,0},{512,362}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,110},{512,362}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_14_huozhu_v01_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,512},{512,362}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,110},{512,362}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_14_huozhu_v01_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{512,362}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,110},{512,362}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chongjibo_Res.png</string>
            <key>size</key>
            <string>{2014,1384}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93d83c88a4bbcf3683080e26a6360ae7:1/1$</string>
            <key>textureFileName</key>
            <string>chongjibo_Res.png</string>
        </dict>
    </dict>
</plist>
