<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>default/dahuo_image1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,822},{29,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,55}}</string>
                <key>sourceSize</key>
                <string>{29,55}</string>
            </dict>
            <key>default/dahuo_image10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,476},{56,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,72}}</string>
                <key>sourceSize</key>
                <string>{56,72}</string>
            </dict>
            <key>default/dahuo_image11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,330},{58,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,72}}</string>
                <key>sourceSize</key>
                <string>{58,72}</string>
            </dict>
            <key>default/dahuo_image12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,621},{55,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,71}}</string>
                <key>sourceSize</key>
                <string>{55,71}</string>
            </dict>
            <key>default/dahuo_image13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,785},{48,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,37}}</string>
                <key>sourceSize</key>
                <string>{48,37}</string>
            </dict>
            <key>default/dahuo_image14.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,822},{47,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,32}}</string>
                <key>sourceSize</key>
                <string>{47,32}</string>
            </dict>
            <key>default/dahuo_image2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,741},{44,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,53}}</string>
                <key>sourceSize</key>
                <string>{44,53}</string>
            </dict>
            <key>default/dahuo_image3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,692},{49,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,58}}</string>
                <key>sourceSize</key>
                <string>{49,58}</string>
            </dict>
            <key>default/dahuo_image4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,548},{55,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,73}}</string>
                <key>sourceSize</key>
                <string>{55,73}</string>
            </dict>
            <key>default/dahuo_image5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,89},{62,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,81}}</string>
                <key>sourceSize</key>
                <string>{62,81}</string>
            </dict>
            <key>default/dahuo_image6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{59,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,89}}</string>
                <key>sourceSize</key>
                <string>{59,89}</string>
            </dict>
            <key>default/dahuo_image7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,170},{58,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{58,82}</string>
            </dict>
            <key>default/dahuo_image8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,252},{60,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,78}}</string>
                <key>sourceSize</key>
                <string>{60,78}</string>
            </dict>
            <key>default/dahuo_image9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,402},{56,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,74}}</string>
                <key>sourceSize</key>
                <string>{56,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dahuo_Res.png</string>
            <key>size</key>
            <string>{62,877}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8be49be7fe2a4a04c1822bc38dbae76d:1/1$</string>
            <key>textureFileName</key>
            <string>dahuo_Res.png</string>
        </dict>
    </dict>
</plist>
