<plist version="1.0"><dict><key>animations</key><dict><key>dahuo_default</key><dict><key>frameTime</key><integer>10</integer><key>frames</key><array><string>default/dahuo_image1.png</string><string>default/dahuo_image2.png</string><string>default/dahuo_image3.png</string><string>default/dahuo_image4.png</string><string>default/dahuo_image5.png</string><string>default/dahuo_image6.png</string><string>default/dahuo_image7.png</string><string>default/dahuo_image8.png</string><string>default/dahuo_image9.png</string><string>default/dahuo_image10.png</string><string>default/dahuo_image11.png</string><string>default/dahuo_image12.png</string><string>default/dahuo_image13.png</string><string>default/dahuo_image14.png</string></array><key>keyFrame</key><integer>0</integer><key>loop</key><integer>1</integer></dict></dict><key>sprites</key><array><string>dahuo_Res.plist</string></array></dict></plist>