<plist version="1.0"><dict><key>animations</key><dict><key>fuguang_default</key><dict><key>frameTime</key><integer>10</integer><key>frames</key><array><string>default/fuguang_image1.png</string><string>default/fuguang_image2.png</string><string>default/fuguang_image3.png</string><string>default/fuguang_image4.png</string><string>default/fuguang_image5.png</string><string>default/fuguang_image6.png</string><string>default/fuguang_image7.png</string><string>default/fuguang_image8.png</string><string>default/fuguang_image9.png</string></array><key>keyFrame</key><integer>0</integer><key>loop</key><integer>1</integer></dict></dict><key>sprites</key><array><string>fuguang_Res.plist</string></array></dict></plist>