<plist version="1.0"><dict><key>animations</key><dict><key>guangjian_default</key><dict><key>frameTime</key><integer>10</integer><key>frames</key><array><string>default/guangjian_1.png</string><string>default/guangjian_2.png</string><string>default/guangjian_3.png</string><string>default/guangjian_4.png</string><string>default/guangjian_5.png</string><string>default/guangjian_6.png</string><string>default/guangjian_7.png</string><string>default/guangjian_8.png</string><string>default/guangjian_9.png</string></array><key>keyFrame</key><integer>0</integer><key>loop</key><integer>1</integer></dict></dict><key>sprites</key><array><string>guangjian_Res.plist</string></array></dict></plist>