<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>default/guangjian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,147},{130,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{130,106}}</string>
                <key>sourceSize</key>
                <string>{140,114}</string>
            </dict>
            <key>default/guangjian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,0},{145,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{145,150}}</string>
                <key>sourceSize</key>
                <string>{155,156}</string>
            </dict>
            <key>default/guangjian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{164,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{164,169}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>default/guangjian_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,0},{143,139}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{143,139}}</string>
                <key>sourceSize</key>
                <string>{153,145}</string>
            </dict>
            <key>default/guangjian_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{154,155}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{154,155}}</string>
                <key>sourceSize</key>
                <string>{166,161}</string>
            </dict>
            <key>default/guangjian_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,0},{133,140}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{133,140}}</string>
                <key>sourceSize</key>
                <string>{151,148}</string>
            </dict>
            <key>default/guangjian_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,0},{134,147}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{134,147}}</string>
                <key>sourceSize</key>
                <string>{152,157}</string>
            </dict>
            <key>default/guangjian_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,133},{139,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{139,122}}</string>
                <key>sourceSize</key>
                <string>{153,130}</string>
            </dict>
            <key>default/guangjian_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,143},{130,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{130,110}}</string>
                <key>sourceSize</key>
                <string>{142,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guangjian_Res.png</string>
            <key>size</key>
            <string>{876,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfc181a5347644bc67cc513851eca7ae:1/1$</string>
            <key>textureFileName</key>
            <string>guangjian_Res.png</string>
        </dict>
    </dict>
</plist>
