<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ani_baoqi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,738},{26,27}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,45},{26,27}}</string>
                <key>sourceSize</key>
                <string>{106,133}</string>
            </dict>
            <key>Ani_baoqi10.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,874},{44,43}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,38},{44,43}}</string>
                <key>sourceSize</key>
                <string>{106,133}</string>
            </dict>
            <key>Ani_baoqi11.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,874},{44,43}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,38},{44,43}}</string>
                <key>sourceSize</key>
                <string>{106,133}</string>
            </dict>
            <key>Ani_baoqi12.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,616},{30,37}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,40},{30,37}}</string>
                <key>sourceSize</key>
                <string>{106,133}</string>
            </dict>
            <key>Ani_baoqi13.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,616},{30,37}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,40},{30,37}}</string>
                <key>sourceSize</key>
                <string>{106,133}</string>
            </dict>
            <key>Ani_baoqi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,439},{82,87}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,13},{82,87}}</string>
                <key>sourceSize</key>
                <string>{106,133}</string>
            </dict>
            <key>Ani_baoqi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,428},{102,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{102,133}}</string>
                <key>sourceSize</key>
                <string>{106,133}</string>
            </dict>
            <key>Ani_baoqi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,654},{106,113}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{106,113}}</string>
                <key>sourceSize</key>
                <string>{106,133}</string>
            </dict>
            <key>Ani_baoqi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,963},{104,95}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{104,95}}</string>
                <key>sourceSize</key>
                <string>{106,133}</string>
            </dict>
            <key>Ani_baoqi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,315},{104,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,28},{104,77}}</string>
                <key>sourceSize</key>
                <string>{106,133}</string>
            </dict>
            <key>Ani_baoqi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,315},{104,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,28},{104,77}}</string>
                <key>sourceSize</key>
                <string>{106,133}</string>
            </dict>
            <key>Ani_baoqi8.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,82},{80,57}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,30},{80,57}}</string>
                <key>sourceSize</key>
                <string>{106,133}</string>
            </dict>
            <key>Ani_baoqi9.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,82},{80,57}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,30},{80,57}}</string>
                <key>sourceSize</key>
                <string>{106,133}</string>
            </dict>
            <key>Ani_bubinhit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,648},{60,32}}</string>
                <key>offset</key>
                <string>{-27,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{60,32}}</string>
                <key>sourceSize</key>
                <string>{120,98}</string>
            </dict>
            <key>Ani_bubinhit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,683},{112,82}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{112,82}}</string>
                <key>sourceSize</key>
                <string>{120,98}</string>
            </dict>
            <key>Ani_bubinhit3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,963},{98,98}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{120,98}</string>
            </dict>
            <key>Ani_bubinhit4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,963},{102,98}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{102,98}}</string>
                <key>sourceSize</key>
                <string>{120,98}</string>
            </dict>
            <key>Ani_fireball1.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,257},{80,56}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{80,56}}</string>
                <key>sourceSize</key>
                <string>{94,56}</string>
            </dict>
            <key>Ani_fireball2.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,199},{80,56}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{80,56}}</string>
                <key>sourceSize</key>
                <string>{94,56}</string>
            </dict>
            <key>Ani_fireball3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{86,56}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{86,56}}</string>
                <key>sourceSize</key>
                <string>{94,56}</string>
            </dict>
            <key>Ani_fireball4.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,782},{90,56}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{90,56}}</string>
                <key>sourceSize</key>
                <string>{94,56}</string>
            </dict>
            <key>Ani_fireball5.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,858},{90,56}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{90,56}}</string>
                <key>sourceSize</key>
                <string>{94,56}</string>
            </dict>
            <key>Ani_fireball6.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,523},{86,56}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{86,56}}</string>
                <key>sourceSize</key>
                <string>{94,56}</string>
            </dict>
            <key>Ani_fireball7.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,141},{80,56}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{80,56}}</string>
                <key>sourceSize</key>
                <string>{94,56}</string>
            </dict>
            <key>Ani_fireballB1.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{78,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{78,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Ani_fireballB2.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,581},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Ani_fireballB3.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,872},{68,84}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{68,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Ani_fireballB4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{68,66}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{68,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Ani_fireballB5.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,872},{60,84}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{60,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Ani_fireballB6.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,958},{68,82}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{68,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Ani_fireballB7.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,794},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{62,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Ani_fireballB8.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,710},{30,26}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{30,26}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Ani_gongbinghit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,782},{56,62}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,29},{56,62}}</string>
                <key>sourceSize</key>
                <string>{120,114}</string>
            </dict>
            <key>Ani_gongbinghit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,867},{106,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{106,94}}</string>
                <key>sourceSize</key>
                <string>{120,114}</string>
            </dict>
            <key>Ani_gongbinghit3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{120,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,112}}</string>
                <key>sourceSize</key>
                <string>{120,114}</string>
            </dict>
            <key>Ani_gongbinghit4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{116,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{116,110}}</string>
                <key>sourceSize</key>
                <string>{120,114}</string>
            </dict>
            <key>Ani_herohit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,872},{52,54}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,30},{52,54}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Ani_herohit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,762},{108,108}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{108,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Ani_herohit3.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,532},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Ani_herohit4.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,666},{116,114}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Ani_qibinghit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,568},{46,38}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,28},{46,38}}</string>
                <key>sourceSize</key>
                <string>{120,98}</string>
            </dict>
            <key>Ani_qibinghit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,568},{120,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,96}}</string>
                <key>sourceSize</key>
                <string>{120,98}</string>
            </dict>
            <key>Ani_qibinghit3.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,767},{108,98}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{108,98}}</string>
                <key>sourceSize</key>
                <string>{120,98}</string>
            </dict>
            <key>Ani_qibinghit4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,963},{102,98}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{102,98}}</string>
                <key>sourceSize</key>
                <string>{120,98}</string>
            </dict>
            <key>Ani_skillRelease1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,286},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>Ani_skillRelease10.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,286},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>Ani_skillRelease11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>Ani_skillRelease2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,144},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>Ani_skillRelease3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,428},{140,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{140,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>Ani_skillRelease4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,144},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>Ani_skillRelease5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>Ani_skillRelease6.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>Ani_skillRelease7.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>Ani_skillRelease8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{140,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{140,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>Ani_skillRelease9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>combat_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,421},{72,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{72,16}}</string>
                <key>sourceSize</key>
                <string>{80,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hitEffects.pvr.ccz</string>
            <key>size</key>
            <string>{510,1063}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:762edf59339655a4c53ecb500a284314$</string>
            <key>textureFileName</key>
            <string>hitEffects.pvr.ccz</string>
        </dict>
    </dict>
</plist>
