<plist version="1.0"><dict><key>animations</key><dict><key>huangguang_default</key><dict><key>frameTime</key><integer>10</integer><key>frames</key><array><string>default/huangguang_image1.png</string><string>default/huangguang_image4.png</string><string>default/huangguang_image7.png</string><string>default/huangguang_image10.png</string><string>default/huangguang_image13.png</string><string>default/huangguang_image16.png</string><string>default/huangguang_image19.png</string><string>default/huangguang_image22.png</string><string>default/huangguang_image25.png</string><string>default/huangguang_image28.png</string><string>default/huangguang_image31.png</string><string>default/huangguang_image34.png</string><string>default/huangguang_image37.png</string></array><key>keyFrame</key><integer>0</integer><key>loop</key><integer>1</integer></dict></dict><key>sprites</key><array><string>huangguang_Res.plist</string></array></dict></plist>