<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>default/huangguang_image1.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,138},{16,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,108}}</string>
                <key>sourceSize</key>
                <string>{16,108}</string>
            </dict>
            <key>default/huangguang_image10.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,0},{131,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,156}}</string>
                <key>sourceSize</key>
                <string>{131,156}</string>
            </dict>
            <key>default/huangguang_image13.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,0},{129,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,156}}</string>
                <key>sourceSize</key>
                <string>{129,156}</string>
            </dict>
            <key>default/huangguang_image16.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,0},{127,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,155}}</string>
                <key>sourceSize</key>
                <string>{127,155}</string>
            </dict>
            <key>default/huangguang_image19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{127,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,163}}</string>
                <key>sourceSize</key>
                <string>{127,163}</string>
            </dict>
            <key>default/huangguang_image22.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,0},{129,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,158}}</string>
                <key>sourceSize</key>
                <string>{129,158}</string>
            </dict>
            <key>default/huangguang_image25.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,127},{127,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,139}}</string>
                <key>sourceSize</key>
                <string>{127,139}</string>
            </dict>
            <key>default/huangguang_image28.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,130},{124,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,144}}</string>
                <key>sourceSize</key>
                <string>{124,144}</string>
            </dict>
            <key>default/huangguang_image31.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,129},{117,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,146}}</string>
                <key>sourceSize</key>
                <string>{117,146}</string>
            </dict>
            <key>default/huangguang_image34.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,138},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>default/huangguang_image37.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,163},{34,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,92}}</string>
                <key>sourceSize</key>
                <string>{34,92}</string>
            </dict>
            <key>default/huangguang_image4.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,0},{130,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,145}}</string>
                <key>sourceSize</key>
                <string>{130,145}</string>
            </dict>
            <key>default/huangguang_image7.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,0},{131,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,138}}</string>
                <key>sourceSize</key>
                <string>{131,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huangguang_Res.png</string>
            <key>size</key>
            <string>{1003,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c565ef94492dfa0483eb3dcf32c24b1:1/1$</string>
            <key>textureFileName</key>
            <string>huangguang_Res.png</string>
        </dict>
    </dict>
</plist>
