<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>default/shield_02_col_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1116},{308,192}}</string>
                <key>offset</key>
                <string>{24,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,199},{308,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/shield_02_col_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,714},{354,176}}</string>
                <key>offset</key>
                <string>{22,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,203},{354,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/shield_02_col_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,432},{368,152}}</string>
                <key>offset</key>
                <string>{11,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,213},{368,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/shield_02_col_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,412},{378,128}}</string>
                <key>offset</key>
                <string>{3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,222},{378,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/shield_02_col_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{386,128}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,215},{386,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/shield_02_col_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,282},{378,150}}</string>
                <key>offset</key>
                <string>{-11,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,205},{378,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/shield_02_col_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,540},{356,174}}</string>
                <key>offset</key>
                <string>{-14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,197},{356,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/shield_02_col_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,890},{332,194}}</string>
                <key>offset</key>
                <string>{-18,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,192},{332,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/shield_02_col_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1308},{284,218}}</string>
                <key>offset</key>
                <string>{-16,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,186},{284,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/shield_02_col_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1070},{238,236}}</string>
                <key>offset</key>
                <string>{-16,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,184},{238,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/shield_02_col_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1752},{186,248}}</string>
                <key>offset</key>
                <string>{-12,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,182},{186,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/shield_02_col_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,512},{150,252}}</string>
                <key>offset</key>
                <string>{6,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,180},{150,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/shield_02_col_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1700},{192,242}}</string>
                <key>offset</key>
                <string>{17,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,182},{192,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/shield_02_col_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1518},{248,222}}</string>
                <key>offset</key>
                <string>{19,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,184},{248,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/shield_02_col_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1278},{292,206}}</string>
                <key>offset</key>
                <string>{20,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,190},{292,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/shield_02_col_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,926},{326,190}}</string>
                <key>offset</key>
                <string>{19,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,192},{326,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/shield_02_col_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,584},{356,168}}</string>
                <key>offset</key>
                <string>{19,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,199},{356,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/shield_02_col_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,130},{384,152}}</string>
                <key>offset</key>
                <string>{13,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,209},{384,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/shield_02_col_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{396,130}}</string>
                <key>offset</key>
                <string>{5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,219},{396,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/shield_02_col_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,0},{392,130}}</string>
                <key>offset</key>
                <string>{-3,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,224},{392,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/shield_02_col_1_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,258},{380,154}}</string>
                <key>offset</key>
                <string>{-10,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,214},{380,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/shield_02_col_1_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,752},{342,174}}</string>
                <key>offset</key>
                <string>{-16,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,207},{342,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/shield_02_col_1_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,764},{306,198}}</string>
                <key>offset</key>
                <string>{-23,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,200},{306,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/shield_02_col_1_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1484},{250,216}}</string>
                <key>offset</key>
                <string>{-17,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,195},{250,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/shield_02_col_1_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1740},{196,222}}</string>
                <key>offset</key>
                <string>{-14,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,191},{196,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/shield_02_col_1_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,282},{138,230}}</string>
                <key>offset</key>
                <string>{-9,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,190},{138,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/shield_02_col_1_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1700},{160,234}}</string>
                <key>offset</key>
                <string>{17,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,189},{160,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/shield_02_col_1_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1526},{224,226}}</string>
                <key>offset</key>
                <string>{21,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,191},{224,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/shield_02_col_1_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1306},{274,212}}</string>
                <key>offset</key>
                <string>{23,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,194},{274,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/shield_02_col_1_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1084},{310,194}}</string>
                <key>offset</key>
                <string>{19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,199},{310,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hudun_Res.png</string>
            <key>size</key>
            <string>{896,1942}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30ad43bf11eb3ab2f80ec327ff58d0d1:1/1$</string>
            <key>textureFileName</key>
            <string>hudun_Res.png</string>
        </dict>
    </dict>
</plist>
