<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>default/huolong_image1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,173},{32,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,27}}</string>
                <key>sourceSize</key>
                <string>{32,27}</string>
            </dict>
            <key>default/huolong_image10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,190},{188,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,153}}</string>
                <key>sourceSize</key>
                <string>{188,153}</string>
            </dict>
            <key>default/huolong_image11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,700},{162,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,118}}</string>
                <key>sourceSize</key>
                <string>{162,118}</string>
            </dict>
            <key>default/huolong_image12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,543},{157,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,123}}</string>
                <key>sourceSize</key>
                <string>{157,123}</string>
            </dict>
            <key>default/huolong_image13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,378},{165,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,128}}</string>
                <key>sourceSize</key>
                <string>{165,128}</string>
            </dict>
            <key>default/huolong_image2.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,311},{67,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,87}}</string>
                <key>sourceSize</key>
                <string>{67,87}</string>
            </dict>
            <key>default/huolong_image3.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,190},{71,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,121}}</string>
                <key>sourceSize</key>
                <string>{71,121}</string>
            </dict>
            <key>default/huolong_image4.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,104},{78,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,69}}</string>
                <key>sourceSize</key>
                <string>{78,69}</string>
            </dict>
            <key>default/huolong_image5.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,0},{62,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,104}}</string>
                <key>sourceSize</key>
                <string>{62,104}</string>
            </dict>
            <key>default/huolong_image6.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,700},{77,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,125}}</string>
                <key>sourceSize</key>
                <string>{77,125}</string>
            </dict>
            <key>default/huolong_image7.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,378},{150,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,113}}</string>
                <key>sourceSize</key>
                <string>{150,113}</string>
            </dict>
            <key>default/huolong_image8.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,543},{157,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,122}}</string>
                <key>sourceSize</key>
                <string>{157,122}</string>
            </dict>
            <key>default/huolong_image9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{190,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,163}}</string>
                <key>sourceSize</key>
                <string>{190,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huolong_Res.png</string>
            <key>size</key>
            <string>{251,825}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3623543b7ace10d63d7ee9408593bff:1/1$</string>
            <key>textureFileName</key>
            <string>huolong_Res.png</string>
        </dict>
    </dict>
</plist>
