<plist version="1.0"><dict><key>animations</key><dict><key>huolong_default</key><dict><key>frameTime</key><integer>10</integer><key>frames</key><array><string>default/huolong_image1.png</string><string>default/huolong_image2.png</string><string>default/huolong_image3.png</string><string>default/huolong_image4.png</string><string>default/huolong_image5.png</string><string>default/huolong_image6.png</string><string>default/huolong_image7.png</string><string>default/huolong_image8.png</string><string>default/huolong_image9.png</string><string>default/huolong_image10.png</string><string>default/huolong_image11.png</string><string>default/huolong_image12.png</string><string>default/huolong_image13.png</string></array><key>keyFrame</key><integer>0</integer><key>loop</key><integer>1</integer></dict></dict><key>sprites</key><array><string>huolong_Res.plist</string></array></dict></plist>