<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>default/jiansujianxue_15_lightShine_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1162},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_15_lightShine_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1162},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_15_lightShine_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1162},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_15_lightShine_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1162},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_15_lightShine_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1162},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_15_lightShine_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1162},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_15_lightShine_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1162},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_15_lightShine_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,0},{182,172}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,164},{182,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_15_lightShine_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,610},{212,208}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,144},{212,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_15_lightShine_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,818},{232,232}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,136},{232,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_15_lightShine_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,382},{222,228}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,141},{222,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_15_lightShine_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1050},{208,206}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,152},{208,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_15_lightShine_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1162},{254,254}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,128},{254,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_15_lightShine_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1110},{306,314}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,98},{306,314}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_15_lightShine_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,760},{350,354}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,75},{350,354}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_15_lightShine_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,382},{380,378}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,65},{380,378}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_15_lightShine_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,784},{396,378}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,65},{396,378}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_15_lightShine_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,0},{398,382}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,61},{398,382}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_15_lightShine_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,394},{400,390}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,58},{400,390}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_15_lightShine_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{400,394}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,56},{400,394}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiagongqiu_Res.png</string>
            <key>size</key>
            <string>{1002,1416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e71ff894a65c67e612befb7e942ed420:1/1$</string>
            <key>textureFileName</key>
            <string>jiagongqiu_Res.png</string>
        </dict>
    </dict>
</plist>
