<plist version="1.0"><dict><key>animations</key><dict><key>jianshu_default</key><dict><key>frameTime</key><integer>10</integer><key>frames</key><array><string>default/Bat_4_col_00000.png</string><string>default/Bat_4_col_00001.png</string><string>default/Bat_4_col_00002.png</string><string>default/Bat_4_col_00003.png</string><string>default/Bat_4_col_00004.png</string><string>default/Bat_4_col_00005.png</string><string>default/Bat_4_col_00006.png</string><string>default/Bat_4_col_00007.png</string><string>default/Bat_4_col_00008.png</string><string>default/Bat_4_col_00009.png</string><string>default/Bat_4_col_00010.png</string><string>default/Bat_4_col_00011.png</string><string>default/Bat_4_col_00012.png</string></array><key>keyFrame</key><integer>0</integer><key>loop</key><integer>1</integer></dict></dict><key>sprites</key><array><string>jianshu_Res.plist</string></array></dict></plist>