<plist version="1.0"><dict><key>animations</key><dict><key>luguang_default</key><dict><key>frameTime</key><integer>10</integer><key>frames</key><array><string>default/luguang_image1.png</string><string>default/luguang_image2.png</string><string>default/luguang_image3.png</string><string>default/luguang_image4.png</string><string>default/luguang_image5.png</string><string>default/luguang_image6.png</string><string>default/luguang_image7.png</string><string>default/luguang_image8.png</string><string>default/luguang_image9.png</string><string>default/luguang_image10.png</string><string>default/luguang_image11.png</string><string>default/luguang_image12.png</string><string>default/luguang_image13.png</string><string>default/luguang_image14.png</string><string>default/luguang_image15.png</string></array><key>keyFrame</key><integer>0</integer><key>loop</key><integer>1</integer></dict></dict><key>sprites</key><array><string>luguang_Res.plist</string></array></dict></plist>