<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>default/luguang_image1.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,0},{66,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,77}}</string>
                <key>sourceSize</key>
                <string>{66,77}</string>
            </dict>
            <key>default/luguang_image10.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>default/luguang_image11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{68,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,78}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>default/luguang_image12.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,0},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>default/luguang_image13.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,0},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>default/luguang_image14.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,0},{58,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,67}}</string>
                <key>sourceSize</key>
                <string>{58,67}</string>
            </dict>
            <key>default/luguang_image15.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,0},{59,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,67}}</string>
                <key>sourceSize</key>
                <string>{59,67}</string>
            </dict>
            <key>default/luguang_image2.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,0},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,69}}</string>
                <key>sourceSize</key>
                <string>{67,69}</string>
            </dict>
            <key>default/luguang_image3.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,0},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>default/luguang_image4.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,0},{64,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,63}}</string>
                <key>sourceSize</key>
                <string>{64,63}</string>
            </dict>
            <key>default/luguang_image5.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,0},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>default/luguang_image6.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,0},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>default/luguang_image7.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,0},{58,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,62}}</string>
                <key>sourceSize</key>
                <string>{58,62}</string>
            </dict>
            <key>default/luguang_image8.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,0},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>default/luguang_image9.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,0},{68,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,58}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>luguang_Res.png</string>
            <key>size</key>
            <string>{968,68}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:709ccb516b900c68ab4828c74b62cee9:1/1$</string>
            <key>textureFileName</key>
            <string>luguang_Res.png</string>
        </dict>
    </dict>
</plist>
