<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>default/moyun_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,865},{144,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{144,90}}</string>
                <key>sourceSize</key>
                <string>{156,94}</string>
            </dict>
            <key>default/moyun_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,144},{137,86}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{137,86}}</string>
                <key>sourceSize</key>
                <string>{145,96}</string>
            </dict>
            <key>default/moyun_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,584},{137,89}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{137,89}}</string>
                <key>sourceSize</key>
                <string>{143,93}</string>
            </dict>
            <key>default/moyun_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,866},{144,133}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{144,133}}</string>
                <key>sourceSize</key>
                <string>{150,135}</string>
            </dict>
            <key>default/moyun_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,726},{146,140}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{146,140}}</string>
                <key>sourceSize</key>
                <string>{156,142}</string>
            </dict>
            <key>default/moyun_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,584},{153,142}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{153,142}}</string>
                <key>sourceSize</key>
                <string>{159,144}</string>
            </dict>
            <key>default/moyun_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{157,144}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,27},{157,144}}</string>
                <key>sourceSize</key>
                <string>{165,174}</string>
            </dict>
            <key>default/moyun_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,296},{156,145}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,25},{156,145}}</string>
                <key>sourceSize</key>
                <string>{166,173}</string>
            </dict>
            <key>default/moyun_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{156,152}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{156,152}}</string>
                <key>sourceSize</key>
                <string>{166,162}</string>
            </dict>
            <key>default/moyun_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,441},{156,143}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{156,143}}</string>
                <key>sourceSize</key>
                <string>{166,165}</string>
            </dict>
            <key>default/moyun_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,726},{139,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{139,92}}</string>
                <key>sourceSize</key>
                <string>{147,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moyun_Res.png</string>
            <key>size</key>
            <string>{242,1009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8999d9593a2af6c04a49ef00961757a:1/1$</string>
            <key>textureFileName</key>
            <string>moyun_Res.png</string>
        </dict>
    </dict>
</plist>
