<plist version="1.0"><dict><key>animations</key><dict><key>moyun_default</key><dict><key>frameTime</key><integer>10</integer><key>frames</key><array><string>default/moyun_1.png</string><string>default/moyun_2.png</string><string>default/moyun_3.png</string><string>default/moyun_4.png</string><string>default/moyun_5.png</string><string>default/moyun_6.png</string><string>default/moyun_7.png</string><string>default/moyun_8.png</string><string>default/moyun_9.png</string><string>default/moyun_10.png</string><string>default/moyun_11.png</string></array><key>keyFrame</key><integer>0</integer><key>loop</key><integer>1</integer></dict></dict><key>sprites</key><array><string>moyun_Res.plist</string></array></dict></plist>