<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>default/mozhua_a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,1463},{51,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,46}}</string>
                <key>sourceSize</key>
                <string>{51,46}</string>
            </dict>
            <key>default/mozhua_a10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{106,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,174}}</string>
                <key>sourceSize</key>
                <string>{106,174}</string>
            </dict>
            <key>default/mozhua_a11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1329},{93,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,134}}</string>
                <key>sourceSize</key>
                <string>{93,134}</string>
            </dict>
            <key>default/mozhua_a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1463},{48,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,125}}</string>
                <key>sourceSize</key>
                <string>{48,125}</string>
            </dict>
            <key>default/mozhua_a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1169},{98,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,160}}</string>
                <key>sourceSize</key>
                <string>{98,160}</string>
            </dict>
            <key>default/mozhua_a4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,867},{102,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,167}}</string>
                <key>sourceSize</key>
                <string>{102,167}</string>
            </dict>
            <key>default/mozhua_a5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,348},{104,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,179}}</string>
                <key>sourceSize</key>
                <string>{104,179}</string>
            </dict>
            <key>default/mozhua_a6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,527},{103,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,179}}</string>
                <key>sourceSize</key>
                <string>{103,179}</string>
            </dict>
            <key>default/mozhua_a7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1034},{100,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,135}}</string>
                <key>sourceSize</key>
                <string>{100,135}</string>
            </dict>
            <key>default/mozhua_a8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,706},{103,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,161}}</string>
                <key>sourceSize</key>
                <string>{103,161}</string>
            </dict>
            <key>default/mozhua_a9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,174},{105,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,174}}</string>
                <key>sourceSize</key>
                <string>{105,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mozhua_Res.png</string>
            <key>size</key>
            <string>{106,1588}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08b156164b7113266f1decc26a4f129d:1/1$</string>
            <key>textureFileName</key>
            <string>mozhua_Res.png</string>
        </dict>
    </dict>
</plist>
