<plist version="1.0"><dict><key>animations</key><dict><key>roudun_default</key><dict><key>frameTime</key><integer>10</integer><key>frames</key><array><string>default/roudun_image1.png</string><string>default/roudun_image2.png</string><string>default/roudun_image3.png</string><string>default/roudun_image4.png</string><string>default/roudun_image5.png</string><string>default/roudun_image6.png</string><string>default/roudun_image7.png</string><string>default/roudun_image8.png</string><string>default/roudun_image9.png</string></array><key>keyFrame</key><integer>0</integer><key>loop</key><integer>1</integer></dict></dict><key>sprites</key><array><string>roudun_Res.plist</string></array></dict></plist>