<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>default/roudun_image1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,676},{97,89}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{97,89}}</string>
                <key>sourceSize</key>
                <string>{105,95}</string>
            </dict>
            <key>default/roudun_image2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,254},{101,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{101,87}}</string>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>default/roudun_image3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,341},{101,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{101,86}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>default/roudun_image4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,167},{101,87}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{101,87}}</string>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>default/roudun_image5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,591},{99,85}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{99,85}}</string>
                <key>sourceSize</key>
                <string>{105,89}</string>
            </dict>
            <key>default/roudun_image6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{102,87}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{102,87}}</string>
                <key>sourceSize</key>
                <string>{110,93}</string>
            </dict>
            <key>default/roudun_image7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,87},{102,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{102,80}}</string>
                <key>sourceSize</key>
                <string>{108,86}</string>
            </dict>
            <key>default/roudun_image8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,505},{100,86}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{100,86}}</string>
                <key>sourceSize</key>
                <string>{106,98}</string>
            </dict>
            <key>default/roudun_image9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,427},{101,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{101,78}}</string>
                <key>sourceSize</key>
                <string>{105,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>roudun_Res.png</string>
            <key>size</key>
            <string>{102,765}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2770d0aee656bf9ac3c2763b966b870f:1/1$</string>
            <key>textureFileName</key>
            <string>roudun_Res.png</string>
        </dict>
    </dict>
</plist>
