<plist version="1.0"><dict><key>animations</key><dict><key>shenjin_default</key><dict><key>frameTime</key><integer>10</integer><key>frames</key><array><string>default/shenjin_a1.png</string><string>default/shenjin_a2.png</string><string>default/shenjin_a3.png</string><string>default/shenjin_a4.png</string><string>default/shenjin_a5.png</string><string>default/shenjin_a6.png</string><string>default/shenjin_a7.png</string><string>default/shenjin_a8.png</string><string>default/shenjin_a9.png</string><string>default/shenjin_a10.png</string><string>default/shenjin_a11.png</string><string>default/shenjin_a12.png</string><string>default/shenjin_a13.png</string><string>default/shenjin_a14.png</string><string>default/shenjin_a15.png</string><string>default/shenjin_a16.png</string></array><key>keyFrame</key><integer>0</integer><key>loop</key><integer>1</integer></dict></dict><key>sprites</key><array><string>shenjin_Res.plist</string></array></dict></plist>