<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>default/shenjin_a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,545},{91,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,50}}</string>
                <key>sourceSize</key>
                <string>{91,50}</string>
            </dict>
            <key>default/shenjin_a10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{218,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,187}}</string>
                <key>sourceSize</key>
                <string>{218,187}</string>
            </dict>
            <key>default/shenjin_a11.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,187},{200,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,177}}</string>
                <key>sourceSize</key>
                <string>{200,177}</string>
            </dict>
            <key>default/shenjin_a12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,589},{200,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,153}}</string>
                <key>sourceSize</key>
                <string>{200,153}</string>
            </dict>
            <key>default/shenjin_a13.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,780},{182,137}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,137}}</string>
                <key>sourceSize</key>
                <string>{182,141}</string>
            </dict>
            <key>default/shenjin_a14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,970},{182,137}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,137}}</string>
                <key>sourceSize</key>
                <string>{182,141}</string>
            </dict>
            <key>default/shenjin_a15.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,589},{191,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,136}}</string>
                <key>sourceSize</key>
                <string>{191,136}</string>
            </dict>
            <key>default/shenjin_a16.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,697},{180,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,135}}</string>
                <key>sourceSize</key>
                <string>{180,135}</string>
            </dict>
            <key>default/shenjin_a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,364},{167,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,155}}</string>
                <key>sourceSize</key>
                <string>{167,155}</string>
            </dict>
            <key>default/shenjin_a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,531},{166,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,155}}</string>
                <key>sourceSize</key>
                <string>{166,155}</string>
            </dict>
            <key>default/shenjin_a4.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,385},{160,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,156}}</string>
                <key>sourceSize</key>
                <string>{160,156}</string>
            </dict>
            <key>default/shenjin_a5.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,962},{153,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,157}}</string>
                <key>sourceSize</key>
                <string>{153,157}</string>
            </dict>
            <key>default/shenjin_a6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,789},{181,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,163}}</string>
                <key>sourceSize</key>
                <string>{181,163}</string>
            </dict>
            <key>default/shenjin_a7.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,0},{200,187}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{200,187}}</string>
                <key>sourceSize</key>
                <string>{200,203}</string>
            </dict>
            <key>default/shenjin_a8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,187},{200,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,198}}</string>
                <key>sourceSize</key>
                <string>{200,198}</string>
            </dict>
            <key>default/shenjin_a9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,385},{204,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,183}}</string>
                <key>sourceSize</key>
                <string>{204,183}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shenjin_Res.png</string>
            <key>size</key>
            <string>{494,1115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c12a570b198f0c7a7be9ad9b11adfa5a:1/1$</string>
            <key>textureFileName</key>
            <string>shenjin_Res.png</string>
        </dict>
    </dict>
</plist>
