<plist version="1.0"><dict><key>animations</key><dict><key>tianbao_default</key><dict><key>frameTime</key><integer>10</integer><key>frames</key><array><string>default/tianbao_1.png</string><string>default/tianbao_2.png</string><string>default/tianbao_3.png</string><string>default/tianbao_4.png</string><string>default/tianbao_5.png</string><string>default/tianbao_6.png</string><string>default/tianbao_7.png</string><string>default/tianbao_8.png</string><string>default/tianbao_9.png</string><string>default/tianbao_10.png</string><string>default/tianbao_11.png</string><string>default/tianbao_12.png</string></array><key>keyFrame</key><integer>0</integer><key>loop</key><integer>1</integer></dict></dict><key>sprites</key><array><string>tianbao_Res.plist</string></array></dict></plist>