<plist version="1.0"><dict><key>animations</key><dict><key>wujian_default</key><dict><key>frameTime</key><integer>10</integer><key>frames</key><array><string>default/wujian_1.png</string><string>default/wujian_2.png</string><string>default/wujian_3.png</string><string>default/wujian_4.png</string><string>default/wujian_5.png</string><string>default/wujian_6.png</string><string>default/wujian_7.png</string><string>default/wujian_8.png</string><string>default/wujian_9.png</string><string>default/wujian_10.png</string><string>default/wujian_11.png</string><string>default/wujian_12.png</string><string>default/wujian_13.png</string></array><key>keyFrame</key><integer>0</integer><key>loop</key><integer>1</integer></dict></dict><key>sprites</key><array><string>wujian_Res.plist</string></array></dict></plist>