<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>default/wuyun_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1143},{210,199}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{210,199}}</string>
                <key>sourceSize</key>
                <string>{212,199}</string>
            </dict>
            <key>default/wuyun_b10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,746},{203,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,198}}</string>
                <key>sourceSize</key>
                <string>{203,198}</string>
            </dict>
            <key>default/wuyun_b11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1766},{193,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,142}}</string>
                <key>sourceSize</key>
                <string>{193,142}</string>
            </dict>
            <key>default/wuyun_b12.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1908},{39,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,67}}</string>
                <key>sourceSize</key>
                <string>{39,67}</string>
            </dict>
            <key>default/wuyun_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1560},{206,199}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{206,199}}</string>
                <key>sourceSize</key>
                <string>{212,199}</string>
            </dict>
            <key>default/wuyun_b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1353},{207,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{207,199}}</string>
                <key>sourceSize</key>
                <string>{211,199}</string>
            </dict>
            <key>default/wuyun_b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{204,199}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{204,199}}</string>
                <key>sourceSize</key>
                <string>{210,199}</string>
            </dict>
            <key>default/wuyun_b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,944},{202,199}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{202,199}}</string>
                <key>sourceSize</key>
                <string>{208,199}</string>
            </dict>
            <key>default/wuyun_b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,547},{203,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{203,199}}</string>
                <key>sourceSize</key>
                <string>{209,199}</string>
            </dict>
            <key>default/wuyun_b7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,199},{204,198}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{204,198}}</string>
                <key>sourceSize</key>
                <string>{208,198}</string>
            </dict>
            <key>default/wuyun_b8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,397},{204,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,150}}</string>
                <key>sourceSize</key>
                <string>{206,150}</string>
            </dict>
            <key>default/wuyun_b9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1908},{129,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,108}}</string>
                <key>sourceSize</key>
                <string>{129,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wuyun_Res.png</string>
            <key>size</key>
            <string>{204,2016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fd36fb21a1542916a1d674701583fda:1/1$</string>
            <key>textureFileName</key>
            <string>wuyun_Res.png</string>
        </dict>
    </dict>
</plist>
