<plist version="1.0"><dict><key>animations</key><dict><key>wuyun_default</key><dict><key>frameTime</key><integer>10</integer><key>frames</key><array><string>default/wuyun_b1.png</string><string>default/wuyun_b2.png</string><string>default/wuyun_b3.png</string><string>default/wuyun_b4.png</string><string>default/wuyun_b5.png</string><string>default/wuyun_b6.png</string><string>default/wuyun_b7.png</string><string>default/wuyun_b8.png</string><string>default/wuyun_b9.png</string><string>default/wuyun_b10.png</string><string>default/wuyun_b11.png</string><string>default/wuyun_b12.png</string></array><key>keyFrame</key><integer>0</integer><key>loop</key><integer>1</integer></dict></dict><key>sprites</key><array><string>wuyun_Res.plist</string></array></dict></plist>