<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>default/jiansujianxue_05_purpleSmoke_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,0},{228,232}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,126},{228,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_05_purpleSmoke_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,236},{230,232}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,125},{230,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_05_purpleSmoke_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,786},{230,236}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,121},{230,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_05_purpleSmoke_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,782},{226,238}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,119},{226,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_05_purpleSmoke_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,784},{226,238}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,116},{226,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_05_purpleSmoke_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,488},{228,236}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,117},{228,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_05_purpleSmoke_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,782},{230,240}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,114},{230,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_05_purpleSmoke_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,780},{234,244}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,111},{234,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_05_purpleSmoke_1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,0},{236,248}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,108},{236,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_05_purpleSmoke_1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,246},{242,252}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,104},{242,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_05_purpleSmoke_1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,540},{242,254}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,102},{242,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_05_purpleSmoke_1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,540},{244,258}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,98},{244,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_05_purpleSmoke_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,0},{246,260}}</string>
                <key>offset</key>
                <string>{-3,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,96},{246,260}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_05_purpleSmoke_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,276},{248,264}}</string>
                <key>offset</key>
                <string>{-4,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,92},{248,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_05_purpleSmoke_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,520},{244,266}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,89},{244,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_05_purpleSmoke_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,512},{244,268}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,87},{244,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_05_purpleSmoke_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,276},{244,270}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,86},{244,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_05_purpleSmoke_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,242},{244,270}}</string>
                <key>offset</key>
                <string>{1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,86},{244,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_05_purpleSmoke_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{242,276}}</string>
                <key>offset</key>
                <string>{1,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,80},{242,276}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>default/jiansujianxue_05_purpleSmoke_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{242,280}}</string>
                <key>offset</key>
                <string>{2,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,76},{242,280}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yanwu_Res.png</string>
            <key>size</key>
            <string>{1258,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2055740f9250a43fc8f5307985ee28bd:1/1$</string>
            <key>textureFileName</key>
            <string>yanwu_Res.png</string>
        </dict>
    </dict>
</plist>
