<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>tyj/ui_res/EmbattleUI/battle_head_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1136,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1136,172}</string>
			</dict>
			<key>tyj/ui_res/EmbattleUI/bg_battle1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,178},{1136,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1136,70}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>EmbattleUI.png</string>
			<key>realTextureFileName</key>
			<string>EmbattleUI.png</string>
			<key>size</key>
			<string>{1140,250}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1140</integer>
			<key>height</key>
			<integer>250</integer>
		</dict>
	</dict>
</plist>