<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>commonUI/res/common/battle_attact.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,157},{176,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,52}</string>
			</dict>
			<key>commonUI/res/common/chakan.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,283},{52,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,31}</string>
			</dict>
			<key>commonUI/res/common/cj.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,296},{72,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,46}</string>
			</dict>
			<key>commonUI/res/common/congz.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,254},{48,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,26}</string>
			</dict>
			<key>commonUI/res/common/cs.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,236},{53,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,31}</string>
			</dict>
			<key>commonUI/res/common/csjg.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,317},{70,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,22}</string>
			</dict>
			<key>commonUI/res/common/csjg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,258},{73,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,23}</string>
			</dict>
			<key>commonUI/res/common/defent.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,157},{169,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,52}</string>
			</dict>
			<key>commonUI/res/common/djzli.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,295},{126,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,24}</string>
			</dict>
			<key>commonUI/res/common/dllj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,55},{357,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{357,100}</string>
			</dict>
			<key>commonUI/res/common/eulaTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,301},{452,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{452,25}</string>
			</dict>
			<key>commonUI/res/common/fasong.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,203},{54,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,31}</string>
			</dict>
			<key>commonUI/res/common/fj.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,55},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,70}</string>
			</dict>
			<key>commonUI/res/common/fyzx.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,55},{177,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,60}</string>
			</dict>
			<key>commonUI/res/common/gjzx.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,1},{184,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,60}</string>
			</dict>
			<key>commonUI/res/common/gonghui.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,207},{76,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,42}</string>
			</dict>
			<key>commonUI/res/common/goumai.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,282},{53,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,31}</string>
			</dict>
			<key>commonUI/res/common/ji.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,131},{41,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,22}</string>
			</dict>
			<key>commonUI/res/common/jifenshangcheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,211},{183,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,43}</string>
			</dict>
			<key>commonUI/res/common/jijies.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,281},{71,18}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,19}</string>
			</dict>
			<key>commonUI/res/common/jinjie.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,63},{56,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,31}</string>
			</dict>
			<key>commonUI/res/common/li.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,209},{20,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,24}</string>
			</dict>
			<key>commonUI/res/common/li_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,208},{20,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,24}</string>
			</dict>
			<key>commonUI/res/common/lingqu.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,264},{53,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,31}</string>
			</dict>
			<key>commonUI/res/common/ljl.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,141},{118,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,80}</string>
			</dict>
			<key>commonUI/res/common/lqjla.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,283},{51,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,34}</string>
			</dict>
			<key>commonUI/res/common/mou.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,216},{23,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,18}</string>
			</dict>
			<key>commonUI/res/common/mou_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,234},{23,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,18}</string>
			</dict>
			<key>commonUI/res/common/pveAward_isAward.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,55},{132,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,84}</string>
			</dict>
			<key>commonUI/res/common/qck.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,223},{103,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,31}</string>
			</dict>
			<key>commonUI/res/common/qixtan.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,138},{114,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,43}</string>
			</dict>
			<key>commonUI/res/common/quanbu.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,55},{22,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,49}</string>
			</dict>
			<key>commonUI/res/common/quanbu_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,117},{22,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,49}</string>
			</dict>
			<key>commonUI/res/common/qued.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,315},{53,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,31}</string>
			</dict>
			<key>commonUI/res/common/quxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,129},{55,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,31}</string>
			</dict>
			<key>commonUI/res/common/selectText.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,1},{58,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,134}</string>
			</dict>
			<key>commonUI/res/common/shangcheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,162},{74,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,43}</string>
			</dict>
			<key>commonUI/res/common/shengji.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,96},{56,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,31}</string>
			</dict>
			<key>commonUI/res/common/shu.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,155},{24,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,25}</string>
			</dict>
			<key>commonUI/res/common/shu_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,182},{24,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,25}</string>
			</dict>
			<key>commonUI/res/common/suipian.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,315},{50,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,20}</string>
			</dict>
			<key>commonUI/res/common/th.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,339},{53,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,31}</string>
			</dict>
			<key>commonUI/res/common/tianti.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,225},{72,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,45}</string>
			</dict>
			<key>commonUI/res/common/tiaozhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,268},{53,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,31}</string>
			</dict>
			<key>commonUI/res/common/tueij.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,137},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>commonUI/res/common/tyxy.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,192},{134,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,31}</string>
			</dict>
			<key>commonUI/res/common/vipTeqaun.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,314},{100,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,31}</string>
			</dict>
			<key>commonUI/res/common/weikaiq.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,317},{53,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,18}</string>
			</dict>
			<key>commonUI/res/common/wujiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,216},{77,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,43}</string>
			</dict>
			<key>commonUI/res/common/xiaohaotongqian.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,256},{89,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,23}</string>
			</dict>
			<key>commonUI/res/common/xuezhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,220},{74,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,46}</string>
			</dict>
			<key>commonUI/res/common/ybao.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,337},{43,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,22}</string>
			</dict>
			<key>commonUI/res/common/yhxy1.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,256},{162,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,23}</string>
			</dict>
			<key>commonUI/res/common/yhxy2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,256},{174,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,23}</string>
			</dict>
			<key>commonUI/res/common/yi.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,106},{21,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,23}</string>
			</dict>
			<key>commonUI/res/common/yi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,168},{21,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,23}</string>
			</dict>
			<key>commonUI/res/common/yijingyongyou.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,347},{91,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,23}</string>
			</dict>
			<key>commonUI/res/common/yiyongyou.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,297},{60,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,21}</string>
			</dict>
			<key>commonUI/res/common/yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,183},{21,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,23}</string>
			</dict>
			<key>commonUI/res/common/yxsl.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,211},{160,43}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,48}</string>
			</dict>
			<key>commonUI/res/common/zb.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,187},{55,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,31}</string>
			</dict>
			<key>commonUI/res/common/zhuangbei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{772,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{772,52}</string>
			</dict>
			<key>commonUI/res/common/zhucheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,269},{73,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,43}</string>
			</dict>
			<key>commonUI/res/common/zj.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,121},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,70}</string>
			</dict>
			<key>commonUI/res/common/zongjiacheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,328},{493,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{493,37}</string>
			</dict>
			<key>commonUI/res/common/zr.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,251},{74,43}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,48}</string>
			</dict>
			<key>commonUI/res/common/js1.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,117},{134,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,73}</string>
			</dict>
			<key>commonUI/res/common/js2.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,63},{134,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,73}</string>
			</dict>
			<key>commonUI/res/common/gengduo.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,225},{77,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,31}</string>
			</dict>
			<key>commonUI/res/common/djxz.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,261},{100,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,32}</string>
			</dict>
			<key>commonUI/res/common/yilingqu.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,183},{106,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,31}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>CC_commonText.png</string>
			<key>realTextureFileName</key>
			<string>CC_commonText.png</string>
			<key>size</key>
			<string>{1024,371}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>371</integer>
		</dict>
	</dict>
</plist>