<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>commonUI/res/tyj/ActivityHeroPopUI/jbcq.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,0},{124,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,124}</string>
			</dict>
			<key>commonUI/res/tyj/ActivityHeroPopUI/jbcq_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,0},{124,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,124}</string>
			</dict>
			<key>commonUI/res/tyj/ActivityHeroPopUI/mfcq.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,124},{124,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,124}</string>
			</dict>
			<key>commonUI/res/tyj/ActivityHeroPopUI/mfcq_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,124},{124,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,124}</string>
			</dict>
			<key>commonUI/res/tyj/ActivityHeroPopUI/xssmasy.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{773,562}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{773,562}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ActivityHeroPopUI_Text.png</string>
			<key>realTextureFileName</key>
			<string>ActivityHeroPopUI_Text.png</string>
			<key>size</key>
			<string>{1021,562}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1021</integer>
			<key>height</key>
			<integer>562</integer>
		</dict>
	</dict>
</plist>