<plist version="1.0"><dict><key>animations</key><dict><key>autoFight_default</key><dict><key>frameTime</key><integer>15</integer><key>frames</key><array><string>default/autoFight1.png</string><string>default/autoFight2.png</string><string>default/autoFight3.png</string><string>default/autoFight4.png</string><string>default/autoFight5.png</string><string>default/autoFight6.png</string><string>default/autoFight7.png</string><string>default/autoFight8.png</string><string>default/autoFight9.png</string><string>default/autoFight10.png</string><string>default/autoFight11.png</string><string>default/autoFight12.png</string><string>default/autoFight13.png</string><string>default/autoFight14.png</string><string>default/autoFight15.png</string></array><key>keyFrame</key><integer>0</integer><key>loop</key><integer>1</integer></dict></dict><key>sprites</key><array><string>autoFight_Res.plist</string></array></dict></plist>