<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>default/autoFight1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,278},{144,85}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{144,85}}</string>
                <key>sourceSize</key>
                <string>{162,85}</string>
            </dict>
            <key>default/autoFight10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,81},{152,83}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{152,83}}</string>
                <key>sourceSize</key>
                <string>{162,85}</string>
            </dict>
            <key>default/autoFight11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,476},{148,85}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{148,85}}</string>
                <key>sourceSize</key>
                <string>{162,85}</string>
            </dict>
            <key>default/autoFight12.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,472},{144,85}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{144,85}}</string>
                <key>sourceSize</key>
                <string>{162,85}</string>
            </dict>
            <key>default/autoFight13.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,616},{142,81}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{142,81}}</string>
                <key>sourceSize</key>
                <string>{162,85}</string>
            </dict>
            <key>default/autoFight14.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,616},{142,79}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{142,79}}</string>
                <key>sourceSize</key>
                <string>{162,85}</string>
            </dict>
            <key>default/autoFight15.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,422},{142,77}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{142,77}}</string>
                <key>sourceSize</key>
                <string>{162,85}</string>
            </dict>
            <key>default/autoFight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,0},{140,83}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{140,83}}</string>
                <key>sourceSize</key>
                <string>{162,85}</string>
            </dict>
            <key>default/autoFight3.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,140},{138,83}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{138,83}}</string>
                <key>sourceSize</key>
                <string>{162,85}</string>
            </dict>
            <key>default/autoFight4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,624},{134,83}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{134,83}}</string>
                <key>sourceSize</key>
                <string>{162,85}</string>
            </dict>
            <key>default/autoFight5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{160,81}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{160,81}}</string>
                <key>sourceSize</key>
                <string>{162,85}</string>
            </dict>
            <key>default/autoFight6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,164},{156,79}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{156,79}}</string>
                <key>sourceSize</key>
                <string>{162,85}</string>
            </dict>
            <key>default/autoFight7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,320},{156,75}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{156,75}}</string>
                <key>sourceSize</key>
                <string>{162,85}</string>
            </dict>
            <key>default/autoFight8.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,164},{156,73}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{156,73}}</string>
                <key>sourceSize</key>
                <string>{162,85}</string>
            </dict>
            <key>default/autoFight9.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,320},{152,81}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{152,81}}</string>
                <key>sourceSize</key>
                <string>{162,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>autoFight_Res.png</string>
            <key>size</key>
            <string>{253,758}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0398903bf04d8c9cc61442a6b5e67b52:1/1$</string>
            <key>textureFileName</key>
            <string>autoFight_Res.png</string>
        </dict>
    </dict>
</plist>
