<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>default/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,0},{92,110}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{92,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,0},{104,112}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{104,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,0},{104,112}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{104,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,0},{102,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{102,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,0},{104,102}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{104,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,0},{104,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{104,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,104},{100,112}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{100,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,104},{100,114}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{100,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,0},{104,106}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{104,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,104},{104,100}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{104,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/19.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,104},{100,100}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{100,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,0},{92,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{92,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,104},{98,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{98,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/21.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,0},{104,104}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{104,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{116,106}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{116,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,102},{106,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{106,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/24.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,104},{110,100}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{110,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,106},{112,98}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{112,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/26.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,0},{104,102}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{104,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/27.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,0},{106,104}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{106,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,0},{108,106}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,13},{108,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,92},{106,108}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{106,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,108},{96,104}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{96,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/30.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{104,112}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{104,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/31.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,104},{100,110}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{100,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/32.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,104},{100,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{100,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,0},{98,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{98,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,98},{110,106}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{110,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,0},{108,104}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{108,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,104},{110,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{110,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,104},{112,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{112,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,92},{108,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{108,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>czbx_Res.png</string>
            <key>size</key>
            <string>{1728,204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f80b73ca9a56bcfc0b11dee9db140b68:1/1$</string>
            <key>textureFileName</key>
            <string>czbx_Res.png</string>
        </dict>
    </dict>
</plist>
