<plist version="1.0"><dict><key>animations</key><dict><key>drumWave_default</key><dict><key>frameTime</key><integer>12</integer><key>frames</key><array><string>default/Ani_mainGu1.png</string><string>default/Ani_mainGu2.png</string><string>default/Ani_mainGu3.png</string><string>default/Ani_mainGu4.png</string><string>default/Ani_mainGu5.png</string><string>default/Ani_mainGu6.png</string><string>default/Ani_mainGu7.png</string><string>default/Ani_mainGu8.png</string><string>default/Ani_mainGu9.png</string><string>default/Ani_mainGu10.png</string><string>default/Ani_mainGu11.png</string><string>default/Ani_mainGu12.png</string><string>default/Ani_mainGu13.png</string><string>default/Ani_mainGu14.png</string><string>default/Ani_mainGu15.png</string><string>default/Ani_mainGu16.png</string></array><key>keyFrame</key><integer>0</integer><key>loop</key><integer>1</integer></dict></dict><key>sprites</key><array><string>drumWave_Res.plist</string></array></dict></plist>