<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>default/Ani_mainGu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1026},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{22,22}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>default/Ani_mainGu10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,586},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{92,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>default/Ani_mainGu11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,492},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>default/Ani_mainGu12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,396},{98,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{98,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>default/Ani_mainGu13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,200},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>default/Ani_mainGu14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,300},{98,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{98,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>default/Ani_mainGu15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>default/Ani_mainGu16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>default/Ani_mainGu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1098},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,33},{34,34}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>default/Ani_mainGu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1158},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,26},{46,48}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>default/Ani_mainGu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1098},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{60,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>default/Ani_mainGu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1026},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{72,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>default/Ani_mainGu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,942},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{84,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>default/Ani_mainGu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,856},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{86,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>default/Ani_mainGu8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,768},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>default/Ani_mainGu9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,678},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{90,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>drumWave_Res.png</string>
            <key>size</key>
            <string>{98,1204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbf639ea3f9baeec5289fb96a70fe52b:1/1$</string>
            <key>textureFileName</key>
            <string>drumWave_Res.png</string>
        </dict>
    </dict>
</plist>
