<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>default/denglong0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,662},{88,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{88,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,438},{92,22}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,22}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,416},{92,22}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,22}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,394},{92,22}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,22}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,616},{90,22}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,22}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,548},{90,24}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,594},{90,22}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,22}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,730},{88,22}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{88,22}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,818},{86,24}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{86,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,872},{84,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{84,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,848},{84,24}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{84,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,524},{90,24}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{90,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,824},{84,24}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{84,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,904},{84,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{84,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,904},{84,22}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{84,22}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,904},{84,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{84,22}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,904},{82,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{82,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,904},{84,22}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{84,22}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,800},{86,24}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{86,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,708},{88,22}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{88,22}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,686},{88,22}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{88,22}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,572},{90,22}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{90,22}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,284},{94,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,480},{92,20}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{92,20}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,460},{92,20}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{92,20}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,330},{94,20}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{94,20}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,94},{94,20}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{94,20}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,0},{94,20}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{94,20}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,308},{94,22}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{94,22}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,214},{96,22}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{96,22}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,188},{96,22}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{96,22}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,96},{98,22}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{98,22}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,72},{98,24}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{98,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,190},{96,24}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,48},{98,24}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{98,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,24},{98,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{98,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{98,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{98,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,166},{96,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{96,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,372},{92,22}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{92,22}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,644},{88,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{88,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,776},{86,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{86,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,752},{86,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{86,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,732},{86,24}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{86,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,638},{88,24}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{88,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,142},{96,24}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,500},{90,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{90,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,284},{92,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{92,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,466},{90,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{90,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,376},{90,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{90,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,556},{88,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{88,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,118},{96,24}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,260},{94,24}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,236},{94,24}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>default/denglong0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,350},{92,22}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,22}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lantern_Res.png</string>
            <key>size</key>
            <string>{118,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c9882e7ce9b243842c6e3064f3abc18:1/1$</string>
            <key>textureFileName</key>
            <string>lantern_Res.png</string>
        </dict>
    </dict>
</plist>
