<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>default/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,88},{63,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{63,44}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>default/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,88},{63,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{63,44}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>default/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,44},{63,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{63,44}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>default/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,362},{61,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{61,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>default/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,362},{61,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{61,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>default/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,532},{59,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{59,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>default/00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{61,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,46}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>default/00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{61,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,46}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>default/00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,456},{61,40}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{61,40}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>default/00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,580},{59,42}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{59,42}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>default/00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,580},{59,42}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{59,42}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>default/00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,622},{59,38}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{59,38}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>default/00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,132},{63,40}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,40}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>default/00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,132},{63,40}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,40}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>default/00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,324},{63,38}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{63,38}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>default/00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,286},{63,38}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{63,38}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>default/00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,286},{63,38}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{63,38}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>default/00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,248},{63,38}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{63,38}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>default/00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,496},{61,36}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,36}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>default/00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,496},{61,36}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,36}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>default/00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,210},{63,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{63,38}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>default/00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,172},{63,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{63,38}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>default/00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,172},{63,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{63,38}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>default/00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{63,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{63,44}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading_Res.png</string>
            <key>size</key>
            <string>{63,660}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5be37110529365fffbe6ba1c9e3aa4b7:1/1$</string>
            <key>textureFileName</key>
            <string>loading_Res.png</string>
        </dict>
    </dict>
</plist>
