<plist version="1.0"><dict><key>animations</key><dict><key>mainUIFire_default</key><dict><key>frameTime</key><integer>10</integer><key>frames</key><array><string>default/fire1.png</string><string>default/fire2.png</string><string>default/fire3.png</string><string>default/fire4.png</string><string>default/fire5.png</string><string>default/fire6.png</string><string>default/fire7.png</string><string>default/fire8.png</string></array><key>keyFrame</key><integer>0</integer><key>loop</key><integer>1</integer></dict></dict><key>sprites</key><array><string>mainUIFire_Res.plist</string></array></dict></plist>