<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>default/fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1118},{104,126}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,57},{104,126}}</string>
                <key>sourceSize</key>
                <string>{116,184}</string>
            </dict>
            <key>default/fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,980},{108,138}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,46},{108,138}}</string>
                <key>sourceSize</key>
                <string>{116,184}</string>
            </dict>
            <key>default/fire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,682},{110,152}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{110,152}}</string>
                <key>sourceSize</key>
                <string>{116,184}</string>
            </dict>
            <key>default/fire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,834},{110,146}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,37},{110,146}}</string>
                <key>sourceSize</key>
                <string>{116,184}</string>
            </dict>
            <key>default/fire5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,526},{112,156}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,25},{112,156}}</string>
                <key>sourceSize</key>
                <string>{116,184}</string>
            </dict>
            <key>default/fire6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,178},{116,168}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{116,168}}</string>
                <key>sourceSize</key>
                <string>{116,184}</string>
            </dict>
            <key>default/fire7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{116,178}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{116,178}}</string>
                <key>sourceSize</key>
                <string>{116,184}</string>
            </dict>
            <key>default/fire8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,346},{112,180}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{112,180}}</string>
                <key>sourceSize</key>
                <string>{116,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainUIFire_Res.png</string>
            <key>size</key>
            <string>{116,1244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:337eedfd596dbb6bf2808e98ed1d4104:1/1$</string>
            <key>textureFileName</key>
            <string>mainUIFire_Res.png</string>
        </dict>
    </dict>
</plist>
