<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lk/ui_res/GuildBattleMapUI/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,271},{132,97}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,132}</string>
			</dict>
			<key>lk/ui_res/GuildBattleMapUI/1_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,1},{166,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,132}</string>
			</dict>
			<key>lk/ui_res/GuildBattleMapUI/1_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,1},{166,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,132}</string>
			</dict>
			<key>lk/ui_res/GuildBattleMapUI/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,261},{136,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,130}</string>
			</dict>
			<key>lk/ui_res/GuildBattleMapUI/2_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,124},{170,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,130}</string>
			</dict>
			<key>lk/ui_res/GuildBattleMapUI/2_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,256},{170,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,130}</string>
			</dict>
			<key>lk/ui_res/GuildBattleMapUI/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,271},{120,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,142}</string>
			</dict>
			<key>lk/ui_res/GuildBattleMapUI/3_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,1},{156,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,142}</string>
			</dict>
			<key>lk/ui_res/GuildBattleMapUI/3_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,114},{156,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,142}</string>
			</dict>
			<key>lk/ui_res/GuildBattleMapUI/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,340},{129,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,124}</string>
			</dict>
			<key>lk/ui_res/GuildBattleMapUI/4_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,135},{163,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,124}</string>
			</dict>
			<key>lk/ui_res/GuildBattleMapUI/4_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,145},{163,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,124}</string>
			</dict>
			<key>lk/ui_res/GuildBattleMapUI/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,340},{129,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,124}</string>
			</dict>
			<key>lk/ui_res/GuildBattleMapUI/5_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,135},{163,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,124}</string>
			</dict>
			<key>lk/ui_res/GuildBattleMapUI/5_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,258},{163,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,124}</string>
			</dict>
			<key>lk/ui_res/GuildBattleMapUI/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,261},{119,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,12}</string>
			</dict>
			<key>lk/ui_res/GuildBattleMapUI/blood_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,388},{267,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,24}</string>
			</dict>
			<key>lk/ui_res/GuildBattleMapUI/dun_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,114},{40,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,37}</string>
			</dict>
			<key>lk/ui_res/GuildBattleMapUI/dun_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,124},{40,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,37}</string>
			</dict>
			<key>lk/ui_res/GuildBattleMapUI/green.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,275},{115,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,8}</string>
			</dict>
			<key>lk/ui_res/GuildBattleMapUI/red.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,285},{115,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,8}</string>
			</dict>
			<key>lk/ui_res/GuildBattleMapUI/combat_time.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,261},{152,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,77}</string>
			</dict>
			<key>lk/ui_res/GuildBattleMapUI/hp.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,414},{267,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,24}</string>
			</dict>
			<key>lk/ui_res/GuildBattleMapUI/hp_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,440},{267,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,24}</string>
			</dict>
			<key>lk/ui_res/GuildBattleMapUI/hpdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,440},{267,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,24}</string>
			</dict>
			<key>lk/ui_res/GuildBattleMapUI/hpout.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,432},{276,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,34}</string>
			</dict>
			<key>lk/ui_res/GuildBattleMapUI/waifagaung.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,1},{226,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,111}</string>
			</dict>
			<key>lk/ui_res/GuildBattleMapUI/fuhuo_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{243,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,121}</string>
			</dict>
			<key>lk/ui_res/GuildBattleMapUI/judianID_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,359},{139,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,34}</string>
			</dict>
			<key>lk/ui_res/GuildBattleMapUI/gonghui_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,381},{200,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,57}</string>
			</dict>
			<key>lk/ui_res/GuildBattleMapUI/gonghui_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,395},{200,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,57}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>GuildBattleMapUI.png</string>
			<key>realTextureFileName</key>
			<string>GuildBattleMapUI.png</string>
			<key>size</key>
			<string>{1023,467}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>467</integer>
		</dict>
	</dict>
</plist>