<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{296,376}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,12},{296,376}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hc10.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,342},{228,318}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,41},{228,318}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hc11.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1510},{202,292}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,54},{202,292}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hc12.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,944},{256,268}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,68},{256,268}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hc13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{376,370}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{376,370}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hc14.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{376,376}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{376,376}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hc15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{376,376}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{376,376}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hc16.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,380},{376,344}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{376,344}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hc17.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1624},{140,138}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,131},{140,138}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hc18.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1624},{140,138}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,131},{140,138}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,726},{326,362}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,19},{326,362}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hc3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1050},{314,332}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,34},{314,332}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hc4.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1202},{308,306}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,47},{308,306}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hc5.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1054},{336,282}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,59},{336,282}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hc6.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1338},{324,284}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,58},{324,284}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hc7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1366},{300,270}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,65},{300,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hc8.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,662},{280,252}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,74},{280,252}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hc9.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{254,338}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,31},{254,338}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ani_Compound.pvr.ccz</string>
            <key>size</key>
            <string>{1014,1764}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:664fb834276fa48592b6bbe02582139f$</string>
            <key>textureFileName</key>
            <string>Ani_Compound.pvr.ccz</string>
        </dict>
    </dict>
</plist>
