<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{408,112}}</string>
                <key>offset</key>
                <string>{-6,-144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,288},{408,112}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>fk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{454,344}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,56},{454,344}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>fk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{398,74}}</string>
                <key>offset</key>
                <string>{-10,163}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,0},{398,74}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>fk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{236,22}}</string>
                <key>offset</key>
                <string>{-9,189}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,0},{236,22}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>fk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,244},{246,104}}</string>
                <key>offset</key>
                <string>{-8,148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,0},{246,104}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>fk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{240,190}}</string>
                <key>offset</key>
                <string>{-7,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,0},{240,190}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>fk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{220,274}}</string>
                <key>offset</key>
                <string>{-6,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,0},{220,274}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>fk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,278},{212,278}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,54},{212,278}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ani_AwardCard_fei.pvr.ccz</string>
            <key>size</key>
            <string>{952,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa2d7fbd7e4868720d9574ca399ff3e2$</string>
            <key>textureFileName</key>
            <string>Ani_AwardCard_fei.pvr.ccz</string>
        </dict>
    </dict>
</plist>
