<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,868},{74,62}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,166},{74,62}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>bg10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{450,374}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,8},{450,374}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>bg11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1502},{448,374}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,8},{448,374}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>bg12.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1544},{372,352}}</string>
                <key>offset</key>
                <string>{-40,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,8},{372,352}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{322,266}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,64},{322,266}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,630},{290,236}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,76},{290,236}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,868},{246,214}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,90},{246,214}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>bg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,270},{358,308}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,44},{358,308}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>bg6.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1126},{416,352}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,24},{416,352}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>bg7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1126},{448,374}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,8},{448,374}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>bg8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,374}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,8},{450,374}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>bg9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{450,370}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,7},{450,370}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>bguang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,868},{74,62}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,166},{74,62}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>bguang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{450,374}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,8},{450,374}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>bguang11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1502},{448,374}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,8},{448,374}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>bguang12.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1544},{372,352}}</string>
                <key>offset</key>
                <string>{-40,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,8},{372,352}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>bguang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{322,266}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,64},{322,266}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>bguang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,630},{290,236}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,76},{290,236}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>bguang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,868},{246,214}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,90},{246,214}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>bguang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,270},{358,308}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,44},{358,308}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>bguang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1126},{416,352}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,24},{416,352}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>bguang7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1126},{448,374}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,8},{448,374}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>bguang8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,374}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,8},{450,374}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>bguang9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{450,370}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,7},{450,370}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ani_AwardCard_Star1.pvr.ccz</string>
            <key>size</key>
            <string>{806,1930}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea9ee023d8fa4202eaca43565fcc79b7$</string>
            <key>textureFileName</key>
            <string>Ani_AwardCard_Star1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
