<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>intensify_bao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{434,400}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{434,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>intensify_bao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{460,400}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{460,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>intensify_bao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1610},{442,400}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{442,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>intensify_bao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{464,400}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{464,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>intensify_bao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{458,400}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{458,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>intensify_bao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1208},{440,400}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{440,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>intensify_bao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1610},{438,400}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{438,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>intensify_bao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1208},{442,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{442,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>intensify_bao8.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,404},{438,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{438,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>intensify_bao9.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,806},{440,400}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{440,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>intensify_bao.pvr.ccz</string>
            <key>size</key>
            <string>{904,2012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd0f91f0988d54a27465f7396dd9cf10$</string>
            <key>textureFileName</key>
            <string>intensify_bao.pvr.ccz</string>
        </dict>
    </dict>
</plist>
