<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lk/ui_res/UnionUI/Union_bar1.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,457},{546,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{546,88}</string>
			</dict>
			<key>lk/ui_res/UnionUI/Union_bluetili.png</key>
			<dict>
				<key>frame</key>
				<string>{{1929,1},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>lk/ui_res/UnionUI/Union_but_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1721,265},{187,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,73}</string>
			</dict>
			<key>lk/ui_res/UnionUI/Union_but_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,290},{186,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,73}</string>
			</dict>
			<key>lk/ui_res/UnionUI/Union_but_l_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,365},{186,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,73}</string>
			</dict>
			<key>lk/ui_res/UnionUI/Union_city.png</key>
			<dict>
				<key>frame</key>
				<string>{{1573,265},{146,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,156}</string>
			</dict>
			<key>lk/ui_res/UnionUI/Union_frame1.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,1},{859,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{859,113}</string>
			</dict>
			<key>lk/ui_res/UnionUI/Union_freetili.png</key>
			<dict>
				<key>frame</key>
				<string>{{1929,113},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>lk/ui_res/UnionUI/Union_huoyue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1929,225},{57,61}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,62}</string>
			</dict>
			<key>lk/ui_res/UnionUI/Union_jindu.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,435},{293,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{293,20}</string>
			</dict>
			<key>lk/ui_res/UnionUI/Union_jindu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,382},{299,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{299,28}</string>
			</dict>
			<key>lk/ui_res/UnionUI/Union_mail_ban1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,341},{504,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{504,64}</string>
			</dict>
			<key>lk/ui_res/UnionUI/Union_mail_ban2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,215},{504,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{504,124}</string>
			</dict>
			<key>lk/ui_res/UnionUI/Union_mobaiban.png</key>
			<dict>
				<key>frame</key>
				<string>{{1715,1},{212,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,262}</string>
			</dict>
			<key>lk/ui_res/UnionUI/Union_putin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1221,365},{341,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{341,64}</string>
			</dict>
			<key>lk/ui_res/UnionUI/Union_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{1721,408},{187,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,73}</string>
			</dict>
			<key>lk/ui_res/UnionUI/Union_red_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,215},{187,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,73}</string>
			</dict>
			<key>lk/ui_res/UnionUI/Union_sframe.png</key>
			<dict>
				<key>frame</key>
				<string>{{1721,340},{245,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,66}</string>
			</dict>
			<key>lk/ui_res/UnionUI/Union_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,412},{315,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{315,21}</string>
			</dict>
			<key>lk/ui_res/UnionUI/Union_time.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,547},{817,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{817,28}</string>
			</dict>
			<key>lk/ui_res/UnionUI/Union_titlebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,511},{835,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{835,52}</string>
			</dict>
			<key>lk/ui_res/UnionUI/Union_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{851,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{851,122}</string>
			</dict>
			<key>lk/ui_res/UnionUI/Union_bar2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,125},{786,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{786,88}</string>
			</dict>
			<key>lk/ui_res/UnionUI/bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1221,116},{355,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{355,126}</string>
			</dict>
			<key>lk/ui_res/UnionUI/bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1221,244},{350,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,119}</string>
			</dict>
			<key>lk/ui_res/UnionUI/bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,431},{615,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{615,78}</string>
			</dict>
			<key>lk/ui_res/UnionUI/bg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,116},{365,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{365,264}</string>
			</dict>
			<key>lk/ui_res/UnionUI/biaoqian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,407},{180,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,55}</string>
			</dict>
			<key>lk/ui_res/UnionUI/biaoqian_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,407},{180,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,55}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>UnionUI.png</string>
			<key>realTextureFileName</key>
			<string>UnionUI.png</string>
			<key>size</key>
			<string>{2040,576}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2040</integer>
			<key>height</key>
			<integer>576</integer>
		</dict>
	</dict>
</plist>