<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>commonUI/res/tyj/EquipmentReplacePopUI/dangqianzhuangbei_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{450,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{450,113}</string>
			</dict>
			<key>commonUI/res/tyj/EquipmentReplacePopUI/dangqianzhuangbei_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,0},{374,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{374,52}</string>
			</dict>
			<key>commonUI/res/tyj/EquipmentReplacePopUI/dangqianzhuangbei_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,52},{374,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{374,52}</string>
			</dict>
			<key>commonUI/res/tyj/EquipmentReplacePopUI/dangqianzhuangbei_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,113},{595,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{595,2}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>EquipmentReplacePopUI.png</string>
			<key>realTextureFileName</key>
			<string>EquipmentReplacePopUI.png</string>
			<key>size</key>
			<string>{824,115}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>824</integer>
			<key>height</key>
			<integer>115</integer>
		</dict>
	</dict>
</plist>