<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ani_levelup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1210},{32,22}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,194},{32,22}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Ani_levelup10.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,304},{500,168}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,132},{500,168}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Ani_levelup11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{500,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,300}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Ani_levelup12.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{500,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,300}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Ani_levelup13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,300}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Ani_levelup14.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,304},{500,276}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,276}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Ani_levelup15.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,806},{456,214}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,39},{456,214}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Ani_levelup16.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,806},{318,182}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,65},{318,182}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Ani_levelup17.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,806},{260,128}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,105},{260,128}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Ani_levelup18.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,806},{260,128}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,105},{260,128}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Ani_levelup19.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,806},{260,128}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,105},{260,128}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Ani_levelup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1068},{50,34}}</string>
                <key>offset</key>
                <string>{1,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,188},{50,34}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Ani_levelup20.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,806},{260,128}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,105},{260,128}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Ani_levelup21.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,806},{260,128}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,105},{260,128}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Ani_levelup22.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,806},{260,128}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,105},{260,128}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Ani_levelup23.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,806},{260,128}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,105},{260,128}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Ani_levelup24.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,806},{260,128}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,105},{260,128}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Ani_levelup3.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1126},{116,48}}</string>
                <key>offset</key>
                <string>{2,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,182},{116,48}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Ani_levelup4.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,304},{240,70}}</string>
                <key>offset</key>
                <string>{3,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,171},{240,70}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Ani_levelup5.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1132},{262,94}}</string>
                <key>offset</key>
                <string>{0,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,173},{262,94}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Ani_levelup6.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,806},{324,108}}</string>
                <key>offset</key>
                <string>{0,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,169},{324,108}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Ani_levelup7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{402,126}}</string>
                <key>offset</key>
                <string>{0,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,165},{402,126}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Ani_levelup8.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1068},{500,140}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,160},{500,140}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>Ani_levelup9.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,304},{500,146}}</string>
                <key>offset</key>
                <string>{0,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,154},{500,146}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ani_levelup.pvr.ccz</string>
            <key>size</key>
            <string>{1012,1244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ef8c4069d0bd5858695e35b4ed60ed1$</string>
            <key>textureFileName</key>
            <string>Ani_levelup.pvr.ccz</string>
        </dict>
    </dict>
</plist>
