<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ani_phoenixdis1.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1176},{246,218}}</string>
                <key>offset</key>
                <string>{22,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,388},{246,218}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_phoenixdis10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,2},{446,664}}</string>
                <key>offset</key>
                <string>{1,168}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,0},{446,664}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_phoenixdis11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{508,678}}</string>
                <key>offset</key>
                <string>{7,161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,0},{508,678}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_phoenixdis12.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{566,696}}</string>
                <key>offset</key>
                <string>{36,152}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,0},{566,696}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_phoenixdis13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{664,718}}</string>
                <key>offset</key>
                <string>{86,141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,0},{664,718}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_phoenixdis14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,668},{488,352}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,365},{488,352}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_phoenixdis15.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,722},{492,352}}</string>
                <key>offset</key>
                <string>{1,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,363},{492,352}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_phoenixdis16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,662},{162,200}}</string>
                <key>offset</key>
                <string>{-4,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,364},{162,200}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_phoenixdis17.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1216},{162,194}}</string>
                <key>offset</key>
                <string>{-4,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,369},{162,194}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_phoenixdis18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,1144},{166,194}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,368},{166,194}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_phoenixdis19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,864},{164,196}}</string>
                <key>offset</key>
                <string>{-2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,365},{164,196}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_phoenixdis2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,1176},{242,220}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,385},{242,220}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_phoenixdis20.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1216},{164,200}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{416,366},{164,200}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_phoenixdis3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,1158},{228,216}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{395,384},{228,216}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_phoenixdis4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,908},{234,226}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{390,379},{234,226}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_phoenixdis5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,668},{238,222}}</string>
                <key>offset</key>
                <string>{11,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{392,378},{238,222}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_phoenixdis6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,1158},{232,232}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,373},{232,232}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_phoenixdis7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,424},{236,252}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{377,373},{236,252}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_phoenixdis8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,2},{288,420}}</string>
                <key>offset</key>
                <string>{-10,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,202},{288,420}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>Ani_phoenixdis9.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,700},{410,474}}</string>
                <key>offset</key>
                <string>{1,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,151},{410,474}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ani_phoenixdis.pvr.ccz</string>
            <key>size</key>
            <string>{2026,1417}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1bc38acc8c0cc6bb3eb7ccfc2a3f47a$</string>
            <key>textureFileName</key>
            <string>Ani_phoenixdis.pvr.ccz</string>
        </dict>
    </dict>
</plist>
