<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>commonUI/res/lk/UnionUI/chazhao.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,267},{52,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/chazhaogonghui.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,105},{104,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/chengyuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,204},{76,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,22}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/chuangjian.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,212},{53,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/chuangjiangonghui.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,123},{103,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/chuangjianhuafei.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,124},{91,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuiguanli.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,131},{103,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuiID.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,147},{78,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,21}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuiliuyan.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,65},{106,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuimingcheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,124},{90,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuitubiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,72},{112,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,21}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuixuanyan.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,279},{54,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/jiaru.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,297},{52,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/jiarugonghui.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,156},{103,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/mobai.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,147},{56,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/mobaidashen.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,65},{106,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/tuanduifuben.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,90},{104,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/tuichugonghui.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,90},{104,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/xiugai.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,213},{53,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/xuyaoXXji.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,153},{84,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,22}</string>
			</dict>
			<key>commonUI/res/lk/UnionSetPopUI/gonghuileixing.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,124},{91,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionSetPopUI/gonghuitubiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,124},{112,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,21}</string>
			</dict>
			<key>commonUI/res/lk/UnionSetPopUI/querenxiugai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,65},{107,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionSetPopUI/ruhuizuixiaodengji.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,222},{141,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,22}</string>
			</dict>
			<key>commonUI/res/lk/UnionSetPopUI/xiugai.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,242},{53,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionIconPopUI/gonggaoxiugai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,358},{98,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,26}</string>
			</dict>
			<key>commonUI/res/lk/UnionIconPopUI/gonghuiliuyan.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,222},{100,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,26}</string>
			</dict>
			<key>commonUI/res/lk/UnionIconPopUI/gonghuirizhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{29,358},{97,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,26}</string>
			</dict>
			<key>commonUI/res/lk/UnionIconPopUI/gonghuirizhi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,164},{103,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionIconPopUI/gonghuishezhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,358},{97,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,26}</string>
			</dict>
			<key>commonUI/res/lk/UnionIconPopUI/xuanzetubiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,222},{121,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,26}</string>
			</dict>
			<key>commonUI/res/lk/UnionMailPopUI/fasong.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,300},{55,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,24}</string>
			</dict>
			<key>commonUI/res/lk/UnionMailPopUI/gonghuiquanyuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,177},{83,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,22}</string>
			</dict>
			<key>commonUI/res/lk/UnionMembersPopUI/chengyuanguanli.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,96},{96,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,26}</string>
			</dict>
			<key>commonUI/res/lk/UnionMembersPopUI/fubentiaozhancishu.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,1},{171,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionMembersPopUI/gonghuichengyuanshuliang.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,241},{69,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,22}</string>
			</dict>
			<key>commonUI/res/lk/UnionMembersPopUI/qirihuoyuegongxian.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,96},{81,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionMembersPopUI/zuihoushangxianshijian.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,1},{165,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionMoBaiPopUI/mianfeimobai.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,129},{86,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,22}</string>
			</dict>
			<key>commonUI/res/lk/UnionMoBaiPopUI/xuanzemobaifangshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,68},{148,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,26}</string>
			</dict>
			<key>commonUI/res/lk/Union_CY_Info_PopUI/gongxianhuoyue.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,39},{170,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,24}</string>
			</dict>
			<key>commonUI/res/lk/Union_CY_Info_PopUI/shangxianshijian.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,65},{141,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,23}</string>
			</dict>
			<key>commonUI/res/lk/Union_CY_PopUI/chexiaozhanglao.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,147},{55,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,31}</string>
			</dict>
			<key>commonUI/res/lk/Union_CY_PopUI/shengweihuizhang.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,39},{129,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,31}</string>
			</dict>
			<key>commonUI/res/lk/Union_CY_PopUI/shengweizhanglao.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,173},{104,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,31}</string>
			</dict>
			<key>commonUI/res/lk/Union_CY_PopUI/tichugonghui.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,180},{55,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionApplyPopUI/gonghuichengyuanshuliang.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,300},{69,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,22}</string>
			</dict>
			<key>commonUI/res/lk/UnionApplyPopUI/jujue.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,246},{53,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionApplyPopUI/ruhuishenqing.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,96},{97,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,26}</string>
			</dict>
			<key>commonUI/res/lk/UnionApplyPopUI/tongyi.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,186},{54,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionButFunctionPopUI/chengyuanguanli.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,189},{103,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionButFunctionPopUI/gonghuishezhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,196},{103,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionButFunctionPopUI/jiesangonghui.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,65},{106,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionButFunctionPopUI/quanyuanyoujian.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,173},{104,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionButFunctionPopUI/ruhuishenqing.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,173},{104,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionButFunctionPopUI/xiugaigonggao.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,105},{105,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionFBPopUI/gongdafuben.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,197},{103,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionFBPopUI/kaiqifuben.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,72},{106,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionFBPopUI/tuanduifuben.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,96},{97,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,25}</string>
			</dict>
			<key>commonUI/res/lk/UnionFBPopUI/yaoqiugonghuihuoyuedu.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,222},{127,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionGodPopUI/jinrimobaicishu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,39},{177,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,24}</string>
			</dict>
			<key>commonUI/res/lk/UnionGodPopUI/leijilingqujiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,105},{134,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,24}</string>
			</dict>
			<key>commonUI/res/lk/UnionGodPopUI/lingqujiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,279},{53,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionGodPopUI/mobaidashen.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,345},{99,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,26}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuijuanxian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,98},{104,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionDonatePopUI/fenlei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{490,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{490,36}</string>
			</dict>
			<key>commonUI/res/lk/UnionDonatePopUI/ghjx.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,68},{147,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,26}</string>
			</dict>
			<key>commonUI/res/lk/UnionDonatePopUI/jbjx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,230},{93,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,30}</string>
			</dict>
			<key>commonUI/res/lk/UnionDonatePopUI/jbjx_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,262},{93,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,30}</string>
			</dict>
			<key>commonUI/res/lk/UnionDonatePopUI/jrjx.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,1},{150,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,32}</string>
			</dict>
			<key>commonUI/res/lk/UnionDonatePopUI/jrjx_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,34},{150,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,32}</string>
			</dict>
			<key>commonUI/res/lk/UnionDonatePopUI/juanxian.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,211},{54,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionDonatePopUI/lsjx.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,34},{149,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,32}</string>
			</dict>
			<key>commonUI/res/lk/UnionDonatePopUI/lsjx_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,34},{149,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,32}</string>
			</dict>
			<key>commonUI/res/lk/UnionDonatePopUI/ybjx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,294},{92,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,30}</string>
			</dict>
			<key>commonUI/res/lk/UnionDonatePopUI/ybjx_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,326},{92,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,30}</string>
			</dict>
			<key>commonUI/res/lk/UnionDonatePopUI/xiaohao.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,301},{36,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,19}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>UnionUI_Text.png</string>
			<key>realTextureFileName</key>
			<string>UnionUI_Text.png</string>
			<key>size</key>
			<string>{984,457}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>984</integer>
			<key>height</key>
			<integer>457</integer>
		</dict>
	</dict>
</plist>