<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>commonUI/res/lk/EnlistThreePopUI/chakan.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,0},{52,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,31}</string>
			</dict>
			<key>commonUI/res/lk/EnlistThreePopUI/fanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,0},{104,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,31}</string>
			</dict>
			<key>commonUI/res/lk/EnlistThreePopUI/gongxihuode.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{382,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{382,51}</string>
			</dict>
			<key>commonUI/res/lk/EnlistThreePopUI/tiaoguo.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,0},{103,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,31}</string>
			</dict>
			<key>commonUI/res/lk/EnlistThreePopUI/zaizhaoyici.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,0},{104,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,31}</string>
			</dict>
			<key>commonUI/res/lk/EnlistUI/maishige.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,0},{85,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,31}</string>
			</dict>
			<key>commonUI/res/lk/EnlistUI/maiyige.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,0},{68,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,31}</string>
			</dict>
			<key>commonUI/res/lk/EnlistUI/zhaomu.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,0},{77,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,42}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>EnlistUI_Text.png</string>
			<key>realTextureFileName</key>
			<string>EnlistUI_Text.png</string>
			<key>size</key>
			<string>{975,51}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>975</integer>
			<key>height</key>
			<integer>51</integer>
		</dict>
	</dict>
</plist>