<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>commonUI/res/icons/6star.png</key>
			<dict>
				<key>frame</key>
				<string>{{1380,414},{144,24}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,24}</string>
			</dict>
			<key>commonUI/res/icons/achievement_copper.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,204},{91,93}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>commonUI/res/icons/add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1765,349},{70,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,73}</string>
			</dict>
			<key>commonUI/res/icons/add_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1890,360},{70,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,73}</string>
			</dict>
			<key>commonUI/res/icons/adddd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1295,174},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>commonUI/res/icons/arrow_base.png</key>
			<dict>
				<key>frame</key>
				<string>{{1765,293},{100,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,54}</string>
			</dict>
			<key>commonUI/res/icons/arrow_base2.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,299},{89,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,82}</string>
			</dict>
			<key>commonUI/res/icons/at_de.png</key>
			<dict>
				<key>frame</key>
				<string>{{1901,218},{117,62}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,62}</string>
			</dict>
			<key>commonUI/res/icons/avatar_archer1.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,73},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>commonUI/res/icons/avatar_cavalry1.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,175},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>commonUI/res/icons/avatar_infantry1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1057,77},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>commonUI/res/icons/back_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1202,398},{50,54}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,84}</string>
			</dict>
			<key>commonUI/res/icons/back_ui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1202,454},{50,54}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,84}</string>
			</dict>
			<key>commonUI/res/icons/bao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1444,506},{42,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,34}</string>
			</dict>
			<key>commonUI/res/icons/baoBut.png</key>
			<dict>
				<key>frame</key>
				<string>{{1956,528},{91,51}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,51}</string>
			</dict>
			<key>commonUI/res/icons/battle_archer.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,509},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,37}</string>
			</dict>
			<key>commonUI/res/icons/battle_button1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1990,282},{57,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,94}</string>
			</dict>
			<key>commonUI/res/icons/battle_button1_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,302},{56,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,94}</string>
			</dict>
			<key>commonUI/res/icons/battle_button2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1144,302},{57,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,94}</string>
			</dict>
			<key>commonUI/res/icons/battle_button2_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1046,363},{56,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,94}</string>
			</dict>
			<key>commonUI/res/icons/battle_footman.png</key>
			<dict>
				<key>frame</key>
				<string>{{1488,531},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,37}</string>
			</dict>
			<key>commonUI/res/icons/battle_rider.png</key>
			<dict>
				<key>frame</key>
				<string>{{1442,542},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,37}</string>
			</dict>
			<key>commonUI/res/icons/bbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1552,512},{154,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,26}</string>
			</dict>
			<key>commonUI/res/icons/biaozhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1534,297},{40,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,64}</string>
			</dict>
			<key>commonUI/res/icons/bingying_jiantou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1385,253},{194,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,42}</string>
			</dict>
			<key>commonUI/res/icons/blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1159,77},{134,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,73}</string>
			</dict>
			<key>commonUI/res/icons/blue_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1159,152},{134,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,73}</string>
			</dict>
			<key>commonUI/res/icons/boss.png</key>
			<dict>
				<key>frame</key>
				<string>{{1104,458},{96,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,33}</string>
			</dict>
			<key>commonUI/res/icons/bow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,204},{29,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,36}</string>
			</dict>
			<key>commonUI/res/icons/bu_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1426,103},{134,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,73}</string>
			</dict>
			<key>commonUI/res/icons/bu_down_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1157,227},{134,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,73}</string>
			</dict>
			<key>commonUI/res/icons/but.png</key>
			<dict>
				<key>frame</key>
				<string>{{1562,103},{134,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,73}</string>
			</dict>
			<key>commonUI/res/icons/card_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1837,349},{51,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,92}</string>
			</dict>
			<key>commonUI/res/icons/card_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{1830,443},{51,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,92}</string>
			</dict>
			<key>commonUI/res/icons/card_wu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1725,339},{38,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
			<key>commonUI/res/icons/card_Zframe.png</key>
			<dict>
				<key>frame</key>
				<string>{{1581,253},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>commonUI/res/icons/card_Zgou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1956,581},{72,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,62}</string>
			</dict>
			<key>commonUI/res/icons/card_zhen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1456,466},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>commonUI/res/icons/card_Zline.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,227},{442,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{442,2}</string>
			</dict>
			<key>commonUI/res/icons/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1962,378},{70,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,73}</string>
			</dict>
			<key>commonUI/res/icons/close_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1890,435},{70,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,73}</string>
			</dict>
			<key>commonUI/res/icons/coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1715,505},{37,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,40}</string>
			</dict>
			<key>commonUI/res/icons/CombatD_next.png</key>
			<dict>
				<key>frame</key>
				<string>{{1683,573},{40,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,22}</string>
			</dict>
			<key>commonUI/res/icons/CombatD_rect.png</key>
			<dict>
				<key>frame</key>
				<string>{{1772,565},{39,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,5}</string>
			</dict>
			<key>commonUI/res/icons/Compound_piece.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,310},{31,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,26}</string>
			</dict>
			<key>commonUI/res/icons/Compound_qun.png</key>
			<dict>
				<key>frame</key>
				<string>{{1725,380},{38,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
			<key>commonUI/res/icons/dian_an.png</key>
			<dict>
				<key>frame</key>
				<string>{{1385,193},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>commonUI/res/icons/dian_liang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1385,215},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>commonUI/res/icons/dikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,1},{485,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{485,74}</string>
			</dict>
			<key>commonUI/res/icons/fangda.png</key>
			<dict>
				<key>frame</key>
				<string>{{1883,510},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>commonUI/res/icons/green.png</key>
			<dict>
				<key>frame</key>
				<string>{{1783,143},{134,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,73}</string>
			</dict>
			<key>commonUI/res/icons/green_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1418,178},{134,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,73}</string>
			</dict>
			<key>commonUI/res/icons/grid.png</key>
			<dict>
				<key>frame</key>
				<string>{{1659,284},{104,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,53}</string>
			</dict>
			<key>commonUI/res/icons/head_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1733,565},{37,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,27}</string>
			</dict>
			<key>commonUI/res/icons/head_bai.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,77},{124,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,125}</string>
			</dict>
			<key>commonUI/res/icons/head_li.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,280},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>commonUI/res/icons/headdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1698,103},{83,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,83}</string>
			</dict>
			<key>commonUI/res/icons/headout.png</key>
			<dict>
				<key>frame</key>
				<string>{{1295,77},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>commonUI/res/icons/hero_avarta_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,73},{136,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,136}</string>
			</dict>
			<key>commonUI/res/icons/huatong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1501,453},{49,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,47}</string>
			</dict>
			<key>commonUI/res/icons/hunjin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1526,409},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>commonUI/res/icons/IntegralUI_jifen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1716,421},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>commonUI/res/icons/itemframe.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,205},{124,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,124}</string>
			</dict>
			<key>commonUI/res/icons/itemframe_low.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,73},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>commonUI/res/icons/jindutiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,211},{187,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,14}</string>
			</dict>
			<key>commonUI/res/icons/jindutiaobg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1482,578},{194,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,22}</string>
			</dict>
			<key>commonUI/res/icons/knife.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,242},{29,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,36}</string>
			</dict>
			<key>commonUI/res/icons/lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,73},{136,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,136}</string>
			</dict>
			<key>commonUI/res/icons/loging_choose.png</key>
			<dict>
				<key>frame</key>
				<string>{{1785,1},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>commonUI/res/icons/loging_done.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,273},{87,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,88}</string>
			</dict>
			<key>commonUI/res/icons/loging_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,73},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>commonUI/res/icons/main_power.png</key>
			<dict>
				<key>frame</key>
				<string>{{1650,339},{73,70}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>commonUI/res/icons/main_sbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1382,297},{150,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,40}</string>
			</dict>
			<key>commonUI/res/icons/mainhead1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1576,331},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>commonUI/res/icons/mianBut.png</key>
			<dict>
				<key>frame</key>
				<string>{{1944,645},{93,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,51}</string>
			</dict>
			<key>commonUI/res/icons/miu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1962,453},{70,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,73}</string>
			</dict>
			<key>commonUI/res/icons/miu_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1382,339},{70,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,73}</string>
			</dict>
			<key>commonUI/res/icons/normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1554,178},{134,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,73}</string>
			</dict>
			<key>commonUI/res/icons/normal_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1765,218},{134,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,73}</string>
			</dict>
			<key>commonUI/res/icons/novice_jiantou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1690,188},{73,94}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,114}</string>
			</dict>
			<key>commonUI/res/icons/novice_quan.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,73},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>commonUI/res/icons/Point.png</key>
			<dict>
				<key>frame</key>
				<string>{{1144,273},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>commonUI/res/icons/pve_treasure_efct.png</key>
			<dict>
				<key>frame</key>
				<string>{{1927,115},{113,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,101}</string>
			</dict>
			<key>commonUI/res/icons/pve_treasure1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1901,282},{87,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,76}</string>
			</dict>
			<key>commonUI/res/icons/pve_treasure2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1293,264},{87,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,76}</string>
			</dict>
			<key>commonUI/res/icons/pve_yiningqu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1552,480},{88,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,30}</string>
			</dict>
			<key>commonUI/res/icons/qianghua_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1366,497},{76,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,33}</string>
			</dict>
			<key>commonUI/res/icons/refresh_Icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,277},{87,96}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>commonUI/res/icons/Results_star1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,460},{49,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,48}</string>
			</dict>
			<key>commonUI/res/icons/Results_star2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1261,342},{61,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,56}</string>
			</dict>
			<key>commonUI/res/icons/rider.png</key>
			<dict>
				<key>frame</key>
				<string>{{1392,112},{29,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,36}</string>
			</dict>
			<key>commonUI/res/icons/soldier_Data_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,502},{54,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,27}</string>
			</dict>
			<key>commonUI/res/icons/soul.png</key>
			<dict>
				<key>frame</key>
				<string>{{1104,363},{36,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,44}</string>
			</dict>
			<key>commonUI/res/icons/star.png</key>
			<dict>
				<key>frame</key>
				<string>{{1324,399},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>commonUI/res/icons/star_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,338},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>commonUI/res/icons/star_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1683,547},{48,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,24}</string>
			</dict>
			<key>commonUI/res/icons/star_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1642,486},{71,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,24}</string>
			</dict>
			<key>commonUI/res/icons/star_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1345,532},{95,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,24}</string>
			</dict>
			<key>commonUI/res/icons/star_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1380,440},{119,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,24}</string>
			</dict>
			<key>commonUI/res/icons/StrengthenCrad_exp1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1528,540},{112,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,16}</string>
			</dict>
			<key>commonUI/res/icons/StrengthenCrad_exp2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1528,558},{112,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,16}</string>
			</dict>
			<key>commonUI/res/icons/StrengthenCrad_exp3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1725,596},{112,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,16}</string>
			</dict>
			<key>commonUI/res/icons/tax_red_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1526,363},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>commonUI/res/icons/th.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,277},{15,44}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,57}</string>
			</dict>
			<key>commonUI/res/icons/tianti_arrow_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1716,463},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>commonUI/res/icons/tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{936,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{936,70}</string>
			</dict>
			<key>commonUI/res/icons/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1426,1},{357,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{357,100}</string>
			</dict>
			<key>commonUI/res/icons/today.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,73},{136,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,136}</string>
			</dict>
			<key>commonUI/res/icons/trip.png</key>
			<dict>
				<key>frame</key>
				<string>{{1392,150},{24,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,41}</string>
			</dict>
			<key>commonUI/res/icons/VIPdouble.png</key>
			<dict>
				<key>frame</key>
				<string>{{1366,466},{88,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,29}</string>
			</dict>
			<key>commonUI/res/icons/wenhao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1142,398},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>commonUI/res/icons/wenhao_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,400},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>commonUI/res/icons/x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1392,77},{32,33}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,57}</string>
			</dict>
			<key>commonUI/res/icons/fanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1824,537},{54,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,57}</string>
			</dict>
			<key>commonUI/res/icons/50003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1927,1},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>commonUI/res/icons/payYuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1324,342},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>commonUI/res/icons/de.png</key>
			<dict>
				<key>frame</key>
				<string>{{1880,583},{62,62}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,65}</string>
			</dict>
			<key>commonUI/res/icons/at.png</key>
			<dict>
				<key>frame</key>
				<string>{{1758,499},{64,64}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,64}</string>
			</dict>
			<key>commonUI/res/icons/czbx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1057,179},{98,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,92}</string>
			</dict>
			<key>commonUI/res/icons/headgg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1642,540},{39,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,36}</string>
			</dict>
			<key>commonUI/res/icons/Union_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{1454,339},{70,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,73}</string>
			</dict>
			<key>commonUI/res/icons/Union_left_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1572,405},{70,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,73}</string>
			</dict>
			<key>commonUI/res/icons/Union_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{1644,411},{70,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,73}</string>
			</dict>
			<key>commonUI/res/icons/Union_right1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1758,424},{70,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,73}</string>
			</dict>
			<key>commonUI/res/icons/N.png</key>
			<dict>
				<key>frame</key>
				<string>{{1314,457},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>icons.png</string>
			<key>realTextureFileName</key>
			<string>icons.png</string>
			<key>size</key>
			<string>{2048,697}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>697</integer>
		</dict>
	</dict>
</plist>