<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>commonUI/res/cs/InfoPopUI/cxlj.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,1},{111,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,31}</string>
			</dict>
			<key>commonUI/res/cs/InfoPopUI/lianjie.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{257,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,23}</string>
			</dict>
			<key>commonUI/res/cs/InfoPopUI/wlljsb.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,1},{252,23}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,23}</string>
			</dict>
			<key>commonUI/res/cs/InfoPopUI/wozhidaole.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,1},{53,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,31}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>InfoPopUI.png</string>
			<key>realTextureFileName</key>
			<string>InfoPopUI.png</string>
			<key>size</key>
			<string>{681,33}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>681</integer>
			<key>height</key>
			<integer>33</integer>
		</dict>
	</dict>
</plist>