<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cs/ui_res/CombatUI/Results_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{670,389}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{670,389}</string>
			</dict>
			<key>cs/ui_res/CombatUI/Results_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,389},{610,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{610,2}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>CombatOverUI.png</string>
			<key>realTextureFileName</key>
			<string>CombatOverUI.png</string>
			<key>size</key>
			<string>{670,391}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>670</integer>
			<key>height</key>
			<integer>391</integer>
		</dict>
	</dict>
</plist>